<%= render partial: 'shared/management/title', locals:{title:"Blocos",span:Block.all.size}%>

<style>
#map {
  width: 80%;
  height: 320px;
}
</style>
<style>
     #map-container { height: 300px }
   </style>

<h3> Mapa </h3>
<center> <div id="map-container"></div></center>
<script src="/assets/openlayers.js"></script>

<script src="https://maps.googleapis.com/maps/api/js"></script>


<script>
function init_map() {
  var var_location = new google.maps.LatLng(-25.451174, -49.231894);


      var var_mapoptions = {
        center: var_location,

        zoom: 17
      };
      var contentString =
      			'<div id="infowindow_content">'+
                '<p><strong>CT</strong><br>'+
            '</div>';
      var var_infowindow = new google.maps.InfoWindow({
        content: contentString
      });


      var var_marker = new google.maps.Marker({
        position: var_location,
              map: var_map,
              title:"CT",
             maxWidth: 500
           });


      var var_map = new google.maps.Map(document.getElementById("map-container"),
          var_mapoptions);
      google.maps.event.addListener(var_marker, 'click', function() {
      		var_infowindow.open(var_map,var_marker);
      		  });
      var_marker.setMap(var_map);
}

  google.maps.event.addDomListener(window, 'load', init_map);

</script>





<h3> Lista </h3>
<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Setor</th>
      <th>Departamentos</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blocks.each do |block| %>
      <tr>
        <!-- Uso do searchkick
            # https://blog.ragnarson.com/2013/10/10/adding-search-and-autocomplete-to-a-rails-app-with-elasticsearch.html
        <td>
          < %= Block.search("CT", page: params[:page]).map(&:code) %>
        </td>
        -->

        <td><%=link_to block.code, [:management, block]%></td>
        <td><% if block.sector.blank?%><%else%><%= "Setor de " + block.sector.name%><%end%></td>
        <td>
            <% block.departments.each do |department|%>
              <%=department.name%><br>
            <%end%>
        </td>
        <td> <%=block.latitude%> </td>
        <td> <%=block.longitude%> </td>
        <td><%= link_to 'Editar', edit_management_block_path(block), :class => "btn btn-primary"  %></td>
        <td><%= link_to 'Excluir', [:management, block], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Bloco', new_management_block_path , :class => "btn btn-primary"%>
