<div class="page-header"><h1>
  <%=@block.code%>
  <%if current_user.role?('admin') || current_user.role?('committee')%>
      <%= link_to 'Editar', edit_management_block_path(@block),class:"btn btn-primary btn-lg pull-right" %>
  <%end%>
</h1></div>


<p>
  <strong>Setor:</strong>
  <%= (@block.sector.blank?) ? "None" : link_to(@block.sector.name, management_sector_path(@block.sector)) %>
</p>

<p>
  <strong>Departamentos:</strong>
  <% @block.departments.each do |department|%>
    <br>
        <%=link_to department.name, management_department_path(department)%>
    <%end%>

</p>

<br>
<p>
  <strong>Latitude:</strong>
  <%= @block.latitude %>
  <strong>Longitude:</strong>
  <%= @block.longitude %>
</p>
<br>


<h2>Salas<span class="badge"><%=@block.rooms.size%></span></h2>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Tamanho</th>
      <th>Tipo de Sala</th>
      <th>Informações Adicionais</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @block.rooms.each do |room| %>
      <tr>
        <td><%= room.code %></td>

        <td><%= room.size %></td>
        <td><%= (room.room_type.blank?) ? "None" : link_to(room.room_type.name, management_room_type_path(room.room_type)) %></td>
        <td><%= room.information %></td>
        <td><%= link_to 'Editar', edit_management_room_path(room), :class => "btn btn-primary"  %></td>
        <td><%= link_to 'Excluir', [:management, room], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
