<div class="page-header"><h1>
  Relatórios
</h1></div>

Por Departamento
<ul>
    <li role="menuitem"><%= link_to "Relatório por Quantidade", management_reports_qtde_path %></li>
    <li role="menuitem"><%= link_to "Relatório por Código", management_reports_code_path %></li>
    <li role="menuitem"><%= link_to "Relatório por Nome", management_reports_name_path %></li>
</ul>

Por Cursos
<ul>
    <li role="menuitem"><%= link_to "Relatório por Quantidade", management_reports_course_qtde_path %></li>
    <li role="menuitem"><%= link_to "Relatório por Código", management_reports_course_code_path %></li>
    <li role="menuitem"><%= link_to "Relatório por Nome", management_reports_course_name_path %></li>
</ul>
