<%= render partial: 'shared/management/title', locals:{title:"Bem-Vindo"}%>


O sistema de ensalamento foi atualizado e recebeu diversas melhorias. Abaixo
seguem instruções do que deve ser feito pelos departamentos entre os dias
14 e 15 de fevereiro (terça e quarta-feira). O ensalamento propriamente dito
será rodado e divulgado no dia 16, quinta-feira.<br>

Não faça nenhuma alteração hoje, dia 13/02, pois ainda estamos fazendo a
carga de todas as turmas que vêm do SIE e dos cursos de Pós-graduação.<br>

Os departamentos devem entrar no sistema com a senha já passada e realizar
seis tarefas, nesta ordem: (As coordenações de cursos de graduação não precisam
fazer nada). Quem perdeu a senha favor entrar em contato com algum membro da
comissão de ensalamento, nos emails divulgados no final deste texto.<br>

Observar que algumas informações foram carregadas com base nas modificações
feitas pelos departamentos no ano passado. Portanto, na maior parte dos casos,
basta CONFERIR, embora algumas operações devam ser feitas novamente, dependendo
do tipo da operação.<br>


As tarefas a seguir devem ser feitas NESTA ORDEM!<br><br>


<h2>Tarefa 1: No menu superior da esquerda, clicar em "Disciplinas".</h2>
Conferir, para cada disciplina, o tipo adequado de sala e conferir
aquelas que não precisam de ensalamento, como por exemplo, trabalhos de
conclusão de curso, disciplinas de laboratório, etc.<br>

Caso seja necessário alterar os dados, clicar em "editar", no final da linha,
e escolher o tipo de sala correto ou então "não precisa", clicando em
"salvar" para finalizar esta disciplina.<br>

Todas as turmas desta disciplina serão alteradas de uma só vez.<br>

<h2>Tarefa 2: (opcional) Cadastrar professores.</h2>

Aqueles departamentos que quiserem cadastrar os professores das turmas podem
fazê-lo bastando clicar em "Professores", no menu superior da esquerda.
É possível também, caso queiram, cadastar o site web do professor ou da disciplina.<br>

Esta parte é opcional e serve apenas para facilitar a busca, pelos alunos, das
turmas pelo nome do professor.<br>

<h2>Tarefa 3: (opcional) Solicitar sala de aula específica.</h2>

Também opcionalmente, os departamentos podem fazer uma solicitação de
sala de aula, bastando para isto clicarem no icone do lápis no quadrado,
e em seguida escolher uma sala. Só serão visíveis as salas que ainda estão
livres.<br>

Aqui também é possível alterar horários das disciplinas que por ventura
estiverem diferente do que foi baixado do SIE (que é a informação oficial
que temos).<br>

Isto pode ser feito para todas as turmas, mas recomendamos que deixem o
sistema escolher as salas, o algoritmo procura minimizar distâncias.<br>


Clicar em "Salvar" para concluir a operação.<br>


<h2>Tarefa 4: Equivalência de disciplinas.</h2>

Alguns departamentos oferecem disciplinas com diferentes códigos mas que
na verdade são a mesma disciplina, para serem ministradas por um único
professor. Quando isto ocorrer, basta fazer o seguinte:<br>

Clicar em "Equivalencias", no menu do canto superior da esquerda. Basta
escrever um código em "Disciplina A" e outro em "Disciplina B". Por
exemplo, na Informática, CI208 é equivalente a CI180 e também a CI183.
Então, na informática, colocamos CI208 em uma caixa, CI180 na outra
e clicamos na caixa rotulada "equivalentes". Repetimos a operação para
CI208 e CI183 resultando em uma linha contendo a equivalência dos três
códigos.<br>

<h2>Tarefa 5: Agrupamento de turmas.</h2>

Aqui as turmas de mesma disciplina com mesmo horário aparecem em grupos
para possível junção de mais de uma turma para ser ministrada por um único
professor.<br>

Basta clicar nos quadrados que estão à esquerda e em sequida clicar no
botão rotulado com o símbolo "+". Imediatamente as turmas aparecerão juntas.
Notar que o número de alunos será somado. Caso se clique errado e se deseje
voltar à situação anterior, basta clicar em "dividir", no botão vermelho
ao final da linha. Pode-se juntar duas ou mais turmas, independentemente
das letras das turmas.<br>

Evitem turmas com mais de 60 alunos, por falta de salas de aulas grandes
no centro politécnico.<br>

<h2>Tarefa 6: Finalizar</h2>

Clicar em "Concluir", no menu do canto superior esquerdo. Isto serve para
a comissão de ensalamento saber que o seu departamento concluiu as operações.<br>

Caso se deseje reabrir para mais modificações, basta clicar em
"Abrir para Modificações", no canto superior esquerdo. Neste caso,
ao término das operações, clicar novamente em "Concluir".<br>

<br><br>

Comissão de ensalamento: email: ensalufpr@gmail.com<br>

Álvaro Machado: Ciências da Terra<br>
Marcos Castilho: Exatas<br>
Sérgio Braga: Tecnologia<br>
