<h2>  <%=@subject.code%> - <%=@subject.name%> </h2><hr>


<h2>Monitoria</h2>
<%=link_to("Novo",new_secdep_assistance_path)%>

<h2>Turmas</h2>
<%= render partial: 'shared/klasses/showpkg_editable', locals:{pkg:@subject.getValidKlasses,role:"secdep"}%>
<%=link_to "Nova Turma",[:new,:secdep,:klass,{"klass[subject_id]":@subject.id}],class:"btn btn-primary pull-right"%>
