		<!--
		6 - sala
		7 - cod disciplina
		8 - Nome disciplina
		10 - vagas
		11 - dia semana
		12 - hr inicio
		13 - hr final
		14 - tipo aula
		15 - cod curso
		16 - departamento
	 -->


	<div class="container">
		<form method="get">
		<div class="row">
			<!-- searchpanel-->
			<div class="panel panel-default" style="background-color: #DDDDDD">
				<div class="panel-body">
					<div class="col-sm-12">
						<label class="control-label">Pesquisar por:</label>
					</div>
					<div class="col-sm-3 marginB10px">
						<select name="tipo" id="section_id" class="form-control" onchange="tipoPesquisa()">
							<option value="nd">Nome da Disciplina</option>
							<option value="b">Bloco</option>
							<option value="c">Curso</option>
							<option value="d">Departamento</option>
							<option value="s">Sala</option>
							<!-- <option value="hv">Horários Vagos</option> -->
							<option value="limpar" style="display:none;"></option>
						</select>
					</div>

					<div class="col-sm-6 marginB10px">
						<input name="disciplina" id="searchField" type="text" class="form-control">
						<select name="sub_section_id" id="sub_section_id" class="form-control" style="display:none"></select>
					</div>

					<div class="col-sm-3 marginB10px">
						<input type="submit" class="btn btn-primary button" value="Buscar">
						<button class="btn btn-default button" onclick="cleanSearch();"><i class="fa fa-eraser"></i> Limpar</button>
					</div>
				</div>
			</div>
			<!---->

			<div id="horario">

			</div>
			<!-- <div id="calendar">
					</div> -->

		</div></form>
	</div>

	<%  if @tipo == "nd" %>
		<% if @resultados.blank? %>
			Disciplina não encontrada
		<% else %>
				<%= render partial: 'shared/application/welcome_show_list', locals:{resultados:@resultados}%>
			<%end%>
		<%end%>

		<!-- mostrar resultados da busca por departamento e curso-->
		<%  if @tipo == "c"%>
			<% if @dep.blank? %>
				ID não encontrado ou sem dados.
			<% else %>
		    <h3><%= @dep.name%></h3> <small>
		        <a href="<%=request.original_url%>&format=csv" class="btn btn-success"> CSV </a>
		    </small></h3>
		    <%= render partial: 'shared/application/welcome_show_list', locals:{resultados:@resultados}%>
			<%end%>

		<%elsif @tipo == "d"%>
			<% if @dep.blank? %>
				ID não encontrado ou sem dados.
			<% else %>
		    <h3><%= @dep.name%> <small>
		        <a href="<%=request.original_url%>&format=csv" class="btn btn-success"> CSV </a>
		    </small></h3>
		    <%= render partial: 'shared/application/welcome_show_list', locals:{resultados:@resultados}%>
			<%end%>

		<!-- mostrar resultados da busca por sala -->
		<%  elsif @tipo == "s"%>
			<% if @room.blank? %>
				ID não encontrado ou sem dados.
			<% else %>
		    <h3><%= @room.code%></h3>
		    <%= render partial: 'shared/application/welcome_show_table', locals:{hash:@hash}%>
			<%end%>

		<!-- mostrar resultados da busca por blocos -->
		<%  elsif @tipo == "b"%>
			<% if @rooms.blank? %>
				ID não encontrado ou sem dados.
			<% else %>
			    <%for i in 0..@rooms.size-1%>
			        <h3><%= @rooms[i].code%></h3>
			        <%= render partial: 'shared/application/welcome_show_table', locals:{hash:@hashes[i]}%>
			        <br>
			    <%end%>
			<%end%>
		<%end%>





	<!-- CSS e javascript -->

	<!-- CSS = app/assets/stylesheets/style.css -->
	<!-- javascript = app/assets/javascripts/application/useful.js -->

<script>
	function cleanSearch() {
		$("#section_id").val("limpar");
	}

	function buscar () {
	  var tipo = document.getElementById('tipopesquisa').value;
	  var valor = document.getElementById("searchField").value;
	  console.log(tipo,valor);

	  if (document.getElementById("horario").innerHTML != "") {
	    clean();
	  };

	    if (tipo != "nd") {

	      if (tipo == "d") {
	        var valor2 = document.getElementById("departamentos").value;
	        var ensalamento = document.getElementsByClassName(valor2.toUpperCase());
	      }else{
	        var ensalamento = document.getElementsByClassName(valor.toUpperCase());
	      }

	      var eventos = criarEventos(ensalamento);

	    } else {
	      var eventos = criarEventos(procuraPorNomeDisciplina(valor));
	    }

	    preencheCalendario(eventos);
	}


	function tipoPesquisa () {
	  var tipo = document.getElementById("section_id").value;
	  switch(tipo){
	    case "hv":
	      $("#searchField").hide();
	      $("#searchDate").show();
	      break;
	    /*
	    case "nd":
	      $("#searchField").show();
	      $("#sub_section_id").hide();
	      break;
	    */
	    case "d":
	    case "c":
	    case "b":
	    case "s":
	      $("#searchField").hide();
	      $("#sub_section_id").show();
	      break;
	    default:
	      $("#searchField").show();
	      $("#sub_section_id").hide();
	      break;
	  }
	}





	$(document).ready(function() {
	  $('#searchField').keypress(function (e) {
	    if (e.which == 13) {
	      buscar();
	    }
	  });


	  $("select#section_id").change(function() {
	    var id_value_string = $(this).val();

	    if (id_value_string == "") {
	      // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
	      $("select#sub_section_id option").remove();
	      var row = "<option value=\"" + "" + "\">" + "" + "</option>";
	      $(row).appendTo("select#sub_section_id");
	    }

	    //else if (id_value_string != 'nd') {
	    else {
	      // Send the request and update sub category dropdown
	      console.log(id_value_string);
	      $.ajax({
	        dataType: "json",
	        cache: false,
	        url: '/welcome/query?tipo=' + id_value_string + '&format=json',
	        timeout: 2000,
	        error: function(XMLHttpRequest, errorTextStatus, error) {
	          alert("Failed to submit : "+ errorTextStatus+" ;"+error);
	        },
	        success: function(data) {
	          // Clear all options from sub category select
	          $("select#sub_section_id option").remove();

	          // //put in a empty default line
	          //var row = "<option value=\"" + "" + "\">" + "" + "</option>";
	          //$(row).appendTo("select#sub_section_id");

	          // // Fill sub category select
	          console.log(data.length);

	          if ( data && data[1].name && data[1].code) {
	            for (i = 0; i < data.length; i++ ) {
	              row = "<option value=\"" + data[i].id + "\">" + data[i].code + ' - ' + data[i].name + "</option>";
	              $(row).appendTo("select#sub_section_id");
	            }
	          }
	          else if ( data && data[1].name ) {
	            for (i = 0; i < data.length; i++ ) {
	              row = "<option value=\"" + data[i].id + "\">" + data[i].name + "</option>";
	              $(row).appendTo("select#sub_section_id");
	            }
	          }
	          else {
	            for (i = 0; i < data.length; i++ ) {
	              row = "<option value=\"" + data[i].id + "\">" + data[i].code + "</option>";
	              $(row).appendTo("select#sub_section_id");
	            }
	          }
	          //console.log(data);
	        }
	      });
	    };

	  });
	});

</script>
