  <% if @notice != "" %>
  <div id="notification" class="row">
    <div class="small-12 medium-8 large-6 medium-centered columns">
      <div data-alert class="alert-box">

              <%= @notice %>

        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
  <% end %>



<div class="row margin-top30px">
  <div class="panel">
    <div class="panel-body">  
        <div class="col-sm-12">
          <label class="control-label">Insira a planilha com as Turmas (*.xls)</label>
        </div>
        
        <%= form_tag({:action => 'uploadFile'}, :multipart => true) do %>
          <div class="col-sm-6 marginB10px">
          
            
            <%= file_field 'upload', 'datafile' , accept: '.xls', :class => "form-control uppercase" %></p>
          </div>
          
          <div class="col-sm-3">
            <%= submit_tag "Inserir", :class => "btn btn-primary btn-lg button border-radius1"%>
            
          </div>  
        
        
        <% end %>
      
    </div>
  </div>
</div>

