<div class="row">
  <div class="small-12 medium-8 medium-centered columns">
    <fieldset class="margin-top30px">
      <div class="field">
        <%#= f.label "Moderators?" %>
        <%#= check_box("spreadsheet", "moderators") %>
      </div>
      <%#= link_to "Processar Arquivo SIE", management_grid_index_path(mode: "process"), method: :post, class: 'expand button' %>
      <%= link_to "Formatar Todos os Arquivos", management_grid_path+"/new", class: 'expand button' %>
      <%= link_to "Inserir Turmas para consulta", management_grid_path+"/inserir", class: 'expand button' %>
      <%#= link_to "Importar Salas de aula", management_grid_index_path(mode: "room"), method: :post, class: 'expand button' %>
      <%#= link_to "Processar Grid", management_grid_index_path(mode: "assign"), method: :post, class: 'expand button' %>
      <hr>
      <%#= link_to "Reindexar pesquisa", management_grid_index_path(mode: "reindex"), method: :post, class: 'expand button' %>
    </fieldset>
  </div>
</div>
