<%= render partial: 'shared/management/title', locals:{title:"Desenvolvedores"}%>
<div class="row">
<%@developers.each do |dev|%>
    <div class="col-md-3">
        <img class="img-thumbnail" src="/assets/<%=dev.id%>.jpg" width=160/>
        <h3><%=link_to dev.name,dev.path%></h3>
    </div>
<%end%>
</div>
