<table class="responsive" role="grid">
  <thead>
    <tr>
      <th scope="column">Time</th>
      <th scope="column">Mon</th>
      <th scope="column">Tue</th>
      <th scope="column">Wed</th>
      <th scope="column">Thu</th>
      <th scope="column">Fri</th>
      <th scope="column">Sat</th>
    </tr>
  </thead>
  <tbody>
    <% last_day = 2 %>
    <% appointments.group_by{|ap| [ap[:time_initial]]}.sort.each do |row| %>
      <% last_day = 2 # reset last day each new time %>
      <% reference_time = row.shift[0] # remove reference element %>
      <tr>
        <td scope="row"><%= reference_time.strftime('%H:%M') %></td>

        <% row.first.group_by{|ap| [ap[:week_day]]}.sort.each do |day| %>
          <% reference_day = day.shift[0] # remove reference element %>
          <% # create empty cells until current day %>
          <% while last_day < reference_day %>
            <td></td>
            <% last_day += 1 %>
          <% end %>
          <% last_day += 1 %>

          <% # create cell %>
          <td>
            <% day.first.each do |appointment| %>
              <% appointment.klass.each do |k| %>
                <% # in courses, only show related classes %>
                <% if course.nil? || !!k.courses.where(courses: {id: @course}) %>
                  <%= link_to k.discipline[:code] + " " + k[:name], "#{k[:id]}", title: k.discipline[:name], data: {tooltip: ""}, aria: {haspopup:'true'}, class: 'class-modal has-tip tip-right' %>
                  <br/>
                <% end %>
              <% end %>
            <% end %>
          </td>
        <% end %>

        <% # create empty cells until the end of row %>
        <% while last_day <= 7 %>
          <td></td>
          <% last_day += 1 %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
