<div class="container-fluid footer">
  <div class="row">
    <div class="col-sm-4">
      <h2>C3SL</h2>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h2>Contato</h2>
      email: ensalamento@c3sl.ufpr.br
    </div>
  </div>
</div>
