<div class="row">
  <div class="col-md-12">
    <div id="graph"></div>
  </div>
</div>

<style>
  #graph {
    height: 500px;
    width: 100%;
    border:1px solid lightgrey;
  }
</style>

<script language="JavaScript">
    var graph_options = {
    }

    var graph_nodes = [
      <%for i in 1..nodes.size-1%>
        {id: '<%=nodes[i-1].code%>',label:'<%=nodes[i-1].name%>'},
      <%end%>
      <!-- {id: '<%#=nodes.last.code%>',label:'<%#=nodes.last.name%>'} -->
  ];

    // create an array with edges
    var graph_edges = [
      <%for i in 1..edges.size-1%>
        {from: '<%=edges[i-1].from%>',to:'<%=edges[i-1].to%>',arrows:'to', label:'<%=edges[i-1].name%>'},
      <%end%>
      <!-- {from: '<%#=edges.last.from%>',to:'<%#=edges.last.to%>',arrows:'to', label:'<%#=edges.last.name%>'} -->
    ];

    // create a network
    var container = document.getElementById('graph');
    var graph = {
      nodes: graph_nodes,
      edges: graph_edges
    };

    var graph = new vis.Network(container, graph, graph_options);
</script>
