<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="top-bar">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="/"><%= image_tag("logo-sm.png", :alt => "Início", :class => "small-logo") %></a>
   </div>

   <div id="navbar" class="collapse navbar-collapse">
     <ul class="nav navbar-nav">
       <li><a href="/">Consultar</a></li>
       <li class="divider"></li>
       <li><a href="/public">Universidade</a></li>
       <li class="divider"></li>
       <li><a href="/about">Sobre</a></li>
       <li><a href="http://www.campusmap.ufpr.br" target="_blank">Mapa</a></li>
       <% if user_signed_in? %>
         <li class="divider"></li>
         <li class=""><%= link_to t("Gestão"), management_root_path %></li>
         <li class="divider"></li>
         <li><%= link_to('Configurações do usuário', edit_user_registration_path) %></li>
         <li class="divider"></li>
         <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
       <% else %>
             <li class="divider"></li>
             <li><%= link_to "Entrar", new_user_session_path %></li>
       <% end %>
     </ul>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
          <li class="collapse navbar-collapse"><%= current_user.email %></li>
      </ul>
    <% end %>
   </div>
  </div>
</nav>
