  <div class="container" id="start">

    <div class="row">
      <div class="col-sm-12 centering">
        <a href="/"> <%= image_tag("logo.png", :alt => "Início") %> </a>
      </div>
    </div>
    <div class="row outer">
      <div class="list-group centering col-sm-6 inner">


    

      </div>
    </div>
  </div>
