<table class="table table-bordered table-hover table-border">
<thead>
	<tr>

		<th>Código</th>
		<th>Nome da disciplina</th>
		<th>Sala</th>
		<th>Dia</th>
		<th>Inicio</th>
		<th>Fim</th>
		<th>Curso</th>
		<th>Professor</th>

	</tr>
</thead>

<tbody>

	<%resultados.each do |resultado|%>
        <%if resultado.subject.room_type.blank?; next; end%>
		<tr>
		<td class="hour"><%=link_to resultado.name.gsub(";","<br>").html_safe, [:public, resultado] %></td>
		<td><%=link_to resultado.subject.name, [:public, resultado.subject] %></td>

		<%schedules=resultado.schedules.order("weekday","ini")%>
		<td class="hour">
			<%schedules.each do |sched|%>
				 <% if sched.room.blank?%>
					 <%= (sched.klass.subject.room_type_id==5) ? "Laboratório" : "-"%><br>
				 <%else%>
					 <%=sched.room.code%><br>
				 <%end%>
		 <%end%>
		</td>

		<td>
			<%schedules.each do |sched|%>
					<%= (sched.weekday<7) ? sched.weekday.to_s+"º feira" : "Sábado"%>
					<br>
	 		<%end%>
		</td>

		<td class="hour">
			<%schedules.each do |sched|%>
					<%=sched.ini.hour%>:<%=sched.ini.min%>
					<br>
	 		<%end%>
		</td>
		<td class="hour">
			<%schedules.each do |sched|%>
					<%=sched.end.hour%>:<%=sched.end.min%><br>
	 		<%end%>
		</td>
		<td>
			<%if resultado.is_join == true%>
					<%sons = resultado.klasses%>
					<%=link_to(sons[0].course.name,[:public,sons[0].course])%><br>
					<%for i in 1..sons.size-1%>
							<%=link_to(sons[i].course.name,[:public,sons[i].course])%><br>
					<%end%>
			<%else%>
					<% if resultado.course.present? %>
						<%=link_to(resultado.course.name,[:public,resultado.course])%>
					<% end %>
			<%end%>
		</td>

		<td><%if resultado.professor.present?%>
			<%=link_to(resultado.professor.name,[:public,resultado.professor])%>
		<%end%></td>

		<tr>
<%end%>
</tbody>
</table>
