<table class="table table-bordered table-hover table-inverse table-border">
  <tr>
    <td class="hour"></td>
    <% hash.keys.each do |dia| %>
        <td><b><%= dia %></b></td>
    <% end %>
  </tr>

  <% hash.values.transpose.each_with_index do |schedules,i| %>
    <%if i < 7; next; end%>
    <tr>
      <td><%= i.to_s + ":30 " %></td>
      <% schedules.each do |horario| %>
          <% if horario != 0 %>
              <td><%= horario.subject_name %><br>Turma: <%= horario.code %></td>
          <%else%>
              <td>
                <%if i == 12;%>
                  <%=link_to "Almoço", "http://www.pra.ufpr.br/portal/ru/ru-centro-politecnico/",target:"blank"%>
                <%end%>
              </td>
          <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
