<%= render partial: 'shared/management/title', locals:{title:"Professores",span:Professor.all.size}%>

<%= render partial: 'shared/professors/showpkg', locals:{pkg:@professors, with_page:true, with_search: true}%>
