<%= render partial: 'shared/management/title',
    locals:{title:"Departamentos",new_path: new_secsector_department_path }
%>

<%= render partial: 'shared/departments/showpkg_editable', locals:{klasscount:@klasscount, pkg:@departments, role:"secsector", with_page:true}%>