<%= render partial: 'shared/management/title', locals:{
    title:@department.name,
    edit_path: [:edit,:committee,@department]
}%>


<h3> Cursos </h3>
<%= render partial: 'shared/courses/showpkg', locals:{pkg:@department.courses,is_writable:false}%>

<h3> Disciplinas </h3>
<%= render partial: 'shared/subjects/showpkg', locals:{pkg:@department.subjects,is_writable:false}%>

<h3> Professores </h3>
<%= render partial: 'shared/professors/showpkg', locals:{pkg:@department.professors}%>

<%=
  link_to "Novo Professor",
  new_committee_professor_path("professor[department_id]":@department.id),
  class:"btn btn-primary"
%>


<!-- <h3> Turmas </h3>
< %=link_to "Apagar Todas as Turmas","/committee/departments/#{@department.id}/delete_klasses",class:"btn btn-danger"%> -->
