<%= form_for([:committee, @professor], class:"form-inline") do |f| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professor.errors.count, "error") %> prohibited this klass from being saved:</h2>
      <ul>
      <% @professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :codigo %>
    <%= f.text_field :code, {class:"form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :name, {class:"form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, {class:"form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :web %>
    <%= f.text_field :web, {class:"form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :departamento %><br>
    <%= f.collection_select :department_id, Department.all.order(:name), :id, :name, {include_blank: 'Selecione a Departamento'}, {class:"form-control"} %>
  </div>


  <div class="actions" align="center">
    <%= f.submit "Salvar", class:"btn btn-primary" %>
  </div><hr>
<% end %>
