<%= render partial: 'shared/management/title', locals:{
      title:"Professores", span:Professor.all.size,
      #new_path: [:new,:committee,:professor]
      new_path: new_committee_professor_path
}%>

  <%= render partial: 'shared/professors/showpkg_editable', locals:{pkg:@professors, with_page:true, with_search: true, role:"committee"}%>
