<%= render partial: 'shared/management/title', locals:{title:"Setores",span:Sector.all.size}%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Nome</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sectors.each do |sector| %>
      <tr>
        <td><%= link_to(sector.name, [:management, sector]) %> </td>


        <% if current_user.role?('secretary') %>
          <td><%= link_to 'Editar', edit_management_sector_path(sector), :class => "btn btn-primary"  %></td>
          <td><%= link_to 'Excluir', [:management, sector], method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Setor?' } , :class => "btn btn-danger" %></td>
        <%end%>
        <% if current_user.role?('admin') || current_user.role?('committee')%>
          <td><%= link_to 'Editar', edit_management_sector_path(sector), :class => "btn btn-primary"  %></td>
          <td><%= link_to 'Excluir', [:management, sector], method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Setor?' } , :class => "btn btn-danger" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sectors %>

<br>

<% if current_user.role?('admin') || current_user.role?('committee')%>
  <%= link_to 'Novo Setor', new_management_sector_path , :class => "btn btn-primary"%>
<%end%>
