<div class="page-header"><h1>
  <%=@sector.name%>
  <%if current_user.role?('admin') || current_user.role?('committee')%>
      <%= link_to 'Editar', edit_management_sector_path(@sector),class:"btn btn-primary btn-lg pull-right" %>
  <%end%>
</h1></div>

<h1>Departamentos</h1>
<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th style="width: 75%" >Nome</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sector.departments.each do |department| %>
      <tr>
        <td><%= link_to(department.name, [:management, department]) %> </td>
        <td><%= link_to 'Editar', edit_management_department_path(department), :class => "btn btn-primary"  %></td>
        <td><%= link_to 'Excluir', [:management, department], method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Setor?' } , :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h1>Blocos</h1>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th style="width: 75%">Código </th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sector.blocks.each do |block| %>
      <tr>
        <td ><%= link_to(block.code, [:management, block]) %> </td>
        <td ><%= link_to 'Editar', edit_management_block_path(block), :class => "btn btn-primary"  %></td>
        <td ><%= link_to 'Excluir', [:management, block], method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Setor?' } , :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Editar Setor', edit_management_sector_path(@sector), :class => "btn btn-primary"  %>
