<%= render partial: 'shared/management/title', locals:{title:"#{@klass.subject.name} - #{@klass.code}"}%>

<p>
  <strong>Tamanho:</strong>
  <%= @klass.vacancy %>
</p>


<%if @klass.professor.present?%>
     <strong>Professor(a):</strong> <%=link_to(@klass.professor.name, [:public,@klass.professor])%><br>
     <strong>Página:</strong> <%=link_to(@klass.professor.web, @klass.professor.web)%><br>
<%end%>

<h2>Alterações</h2>


<h2>Aulas</h2>
<table class="table table-bordered table-hover table-border">
<thead>
  <tr>
    <th width="10%">Data</th>
    <th width="10%">Sala</th>
    <th>Tema</th>
    <th width="10%">Slide</th>
    <th width="10%">Video</th>
    <th width="10%">Exercícios</th>
  </tr>
</thead>


<%@klass.meta.each do |day|%>
    <tr>
        <td><%=day.date%></td>
        <td>  <% if day.room.blank? %> --
              <% else %> <%=day.room%>
              <% end %></td>
        <td><%=day.theme%></td>
        <td><%=(day.slide.present?) ? link_to("slide",day.slide,target:"blank") : ""%></td>
        <td><%=(day.video.present?) ? link_to("video",day.video,target:"blank") : ""%></td>
        <td><%=(day.exerc.present?) ? link_to("exercícios",day.exerc,target:"blank") : ""%></td>
    </tr>
<%end%>
</table>



<h2>Comentários</h2>
<%=facebook%>
