<%= render partial: 'shared/management/title', locals:{title:"Base de Dados"}%>

<p align="justitfy">A base de dados do ensalamento está disponivel em formato JSON para
possibilitar que outros aplicativos utilizem os dados e portanto incentivar a criação de
novos aplicativos para a Universidade. E por enquanto, a API disponibiliza somente a
possibilidade de fazer consultas sobre as informações, logo não pode ser feito nenhuma alteração
sobre a base de dados.</p>





<h2>Pesquisa por uma Classe</h2>
Sintaxe: <%=request.original_url+"?root=[classe]"%><br>
Exemplo:<br>
  <%url=request.original_url%>
  <%=link_to("#{url}?root=blocks","#{url}?root=blocks")%><br>
  <%=link_to("#{url}?root=rooms","#{url}?root=rooms")%><br>
  <%=link_to("#{url}?root=professors","#{url}?root=professors")%><br>

<h2>Pesquisa por uma Instância Especifica</h2>
Sintaxe: <%=request.original_url+"?root=[classe]:[id]"%><br>
Exemplo:<br>
  <%=link_to("#{url}?root=blocks:1","#{url}?root=blocks:1")%><br>
  <%=link_to("#{url}?root=rooms:10","#{url}?root=rooms:10")%><br>
  <%=link_to("#{url}?root=professors:5","#{url}?root=professors:5")%><br>

<h2>Pesquisa pelas Arestas de uma Instância Especifica</h2>
  Sintaxe: <%=request.original_url+"?root=[classe]:[id]&edges=blocks"%><br>
  Exemplo:<br>
  <%=link_to("#{url}?root=blocks:1&edges=rooms","#{url}?root=blocks:1&edges=rooms")%><br>
  <%=link_to("#{url}?root=professors:14&edges=klasses","#{url}?root=professors:14&edges=klasses")%><br>

  Cada tipo de nodo tem arestas diferentes seguindo o grafico abaixo:
  <%= render partial: 'shared/application/graph', locals:{nodes:About::Entity.all, edges:About::Edge.all}%>


<h2> Formato da Mensagem </h2>
