<%= render partial: 'shared/management/title', locals:{title:"Troca de Salas"}%>

<table class="table table-bordered table-hover table-border" onload="teste()">
  <thead>
    <tr>
      <th>Código</th>
      <th>Disciplina</th>
      <th width=30px>Turma</th>
      <th width=30px>Vagas</th>
      <th>Sala</th>
      <th>Horários</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @klasses.each do |klass| %>

      <tr>
        <%if klass.subject.blank? %>
            <td> None </td>
            <td> None </td>
        <%else%>
            <td><%= link_to(klass.subject.code, management_subject_path(klass.subject)) %></td>
            <td><%= klass.subject.name %></td>
        <%end%>
        <td><%= klass.code.gsub(";"," ") %></td>
        <td><%= klass.vacancy %></td>

        <% schedules=klass.schedules.order("weekday","ini")%>

        <!-- Sala -->
        <td>
        <% schedules.each do |sched|%>
          <div id="sala<%= sched.id %>">
            </br>
            <% if ( sched.room.blank? ) %>
              ---
            <% else %>
              <%= sched.room.code %>
            <% end %>
          </div>
        <% end %>
        </td>

        <!-- Horários -->
        <td>
          <% size = schedules.length %>
          <% schedules.each_with_index do |sched, index|%>
            </br><%= sched.to_s %>
            <% if index != (size - 1) %>
              </br>
            <% end %>
          <% end %>
        </td>

        <!-- Opções -->
        <td>

          <div class="bd-example">

            <% size = schedules.length %>
            <% schedules.each_with_index do |sched, index|%>
                &nbsp;
                <!-- may add: &nbsp; <i class="fa fa-pencil"></i> -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trocaSalas" data-whatever="<%= sched.id %>~<%= klass.subject.name %>">Editar</button>
                <!-- < %= link_to 'Editar', edit_management_klass_path(klass), :class => "btn btn-primary btn-sm"  %> -->
                </br>
                <% if index != (size - 1) %> </br> <% end %>
            <% end %>

            <div class="modal fade" id="trocaSalas" tabindex="-1" role="dialog" aria-labelledby="trocaSalasLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="trocaSalasLabel">New message</h4>
                  </div>
                  <div class="modal-body">
                    <form name="submit_klassChange" action="#" >
                      <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Horário</label>
                        <input type="text" class="form-control" id="recipient-name" readonly="readonly" >
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Sala</label>
                        <select name="klass_change" id="recipient-name_select" class="form-control all_klasses klassChange_all"></select>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" id="submitButton" class="btn btn-primary" value="recipient-name-button" data-dismiss="modal">Submeter</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          </td>

      </tr>
    <%end %>
  </tbody>


  <!-- script:  app/assets/javascripts/application/spreadsheets.js -->
  <script>


  function getResult(recipient) {
    var result = null;
    var contin = 1;
    <% @klasses.each do |klass| %>
      <% schedules=klass.schedules.order("weekday","ini")%>
      var data = <%= schedules.to_json.html_safe %>
      for ( var i = 0; i < data.length && contin ; i++ )
        if (data[i].id == recipient) {
          result = data[i];
          contin = 0;
        }
    <% end %>
    return result;
  }


  function getKlass(recipient) {
    <% @rooms = Room.all %>
    var result = null;
    var contin = 1;
    <% @rooms.each do |klass| %>
      <% klass_id=klass.id %>
      <% klass_code=klass.code %>
      var klass_id = <%= klass_id.to_json.html_safe %>
      var klass_code = <%= klass_code.to_json.html_safe %>
      //console.log(klass_id, klass_code, klass_rec);
        if (klass_id == klass_rec) {
          result = klass_code;
          contin = 0;
        }
    <% end %>
    return result;
  }


  $('#trocaSalas').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var all = button.data('whatever') // Extract info from data-* attributes

    // Getting sched.id and klass.subject.name
    var recipient = all.split("~")[0];
    var name = all.split("~")[1];
    document.getElementById('recipient-name_select').setAttribute('id', recipient);
    document.getElementById('submitButton').setAttribute('value', all);
    console.log(recipient, name);

    // Search in db and return a json of the data with sched.id
    var result = getResult(recipient);
    console.log(result);

    var text = result.weekday + "º - " + ((result.ini).split("T")[1]).split(".")[0] + " ~ " + ((result.end).split("T")[1]).split(".")[0];
    //console.log(text);

    var modal = $(this)
    modal.find('.modal-title').text(name)
    modal.find('.modal-body input').val(text)

    var room_id = (result.room_id);
    //modal.find('.modal-body select').val(room_id);
    //  To force modal - wasn't working for the first modal of page
    $.fn.modal.Constructor.prototype.enforceFocus = function() { modal.find('.modal-body select').val(room_id); };

    var select_klass = "select#" + recipient;
    var select_klass_option = "select#" + recipient + " option";

    $.ajax({
      dataType: "json",
      cache: false,
      //url: '/management/spreadsheets/query?id=%QUERY&format=json',
      url: '/management/spreadsheets/query?format=json',
      timeout: 2000,
      error: function(XMLHttpRequest, errorTextStatus, error) {
        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
      },
      success: function(data) {
        // Clear all options from sub category select
        $(select_klass_option).remove();
        console.log(select_klass);

        //put in a empty default line
        var row = "<option value=\"" + "" + "\">" + "Nenhuma Sala" + "</option>";
        $(row).appendTo(select_klass);

        // // Fill sub category select
        console.log(data.length);
        for (i = 0; i < data.length; i++ ) {
          row = "<option value=\"" + data[i].id + "\">" + data[i].code + " (" + data[i].size + ")" + "</option>";
          $(row).appendTo(select_klass);
        }
        //console.log(data);
      }
    });

  });

  var value;
  function updatevariable(data) {
        value = data;
        //alert(value);
    }

  $(document).on('change', '.klassChange_all', function() {
    console.log("entrou .klassChange_all");
    var value_now = $(this).val();
    updatevariable(value_now);
    //alert(value_now);
  });


  $('#submitButton').on('click', function(event) {
    var all = $(this).val();
    console.log(all);

    event.preventDefault(); // To prevent following the link (optional)

    var recipient = all.split("~")[0];
    var name = all.split("~")[1];
    var result = getResult(recipient);

    var select_klass = "select#" + recipient + " :selected";
    var temp = $(select_klass).val();

    // temp vazio na segunda vez. Uai?
    console.log("Temp = ", temp);
    console.log("VALUE = ", value);

    $.post('/management/spreadsheets/changeRoom_query',{id: recipient, klass: temp, room: result});

    var idToChange = 'sala' + recipient;
    var new_klass = getKlass(value);
    document.getElementById(idToChange).innerHTML = "</br>" + new_klass;

  });

  </script>




</table>
