<%= render partial: 'shared/management/title', locals:{title:"Gerar Ensalamento"}%>

<table class="table">
    <tr><th>Tipo de Salas</th><th>Quantidade de Horarios</th><th>Horarios sem Salas</th>
        <th></th></tr>
    <%@lines.each do |line|%>
        <tr>
            <td><%=line[1]["name"]%></td>
            <td><%=line[1]["qtde"]%></td>
            <td><%=line[1]["no_room"]%></td>
            <td><%=link_to "Horarios fora do Padrão","/management/wrong_schedules"%> </td>
        </tr>
    <%end%>
</table><hr>

<div id="resultado"></div>



<div align="center">
    <form action="exec_ensalador" method="get">
        <%= number_field("val", "dist", in: 1.0..20.0, step: 0.5, value:10.0) %>
        <%= number_field("val", "free", in: 1.0..20.0, step: 0.5, value:10.0) %><br>
        <input type="submit" class="btn btn-primary btn-lg" value="Executar">
    </form>
</div>


<hr><h2> Ultima Execução</h2>
