<%= render partial: 'shared/management/title', locals:{title:"Iniciar um Novo Semestre"}%>

<h2>
    1. Resetar Status dos Departamentos
    <%=link_to "Resetar",management_reset_departments_path,class:"btn btn-primary"%>
</h2>


<h2> 2. Upload dos Dados do Semestre </h2>

  <div class="row">
    <div class="panel indent">
      <div class="panel-body identation">
            <%= form_tag("/management/spreadsheets", method: :put, :multipart => true) do %>
               <%= label_tag :file %>
               <%= file_field_tag :file %> </br>
               <%= submit_tag "Enviar", class: 'btn btn-primary btn-lg button border-radius1' %>
            <% end %>
      </div>
    </div>
  </div>


  <h3 class="indent">2.1 Progresso</h3>
  <div class="progress indent">
    <div class="progress-bar" id="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 3%;">
      0
    </div>
  </div><hr>

  <h3 class="indent">2.2 Log</h3>
  <div class="indent" id="log"></div>

<style>
  .indent {
    margin-left: 3%;
  }
</style>

<script>

  function get_server_info(){
      var xmlhttp = new XMLHttpRequest();
      var url = "/management/spreadsheets/new?format=json";
      xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
              var info = JSON.parse(xmlhttp.responseText);
              progress = document.getElementById("progress");
              progress.innerHTML = info.done;
              porcent = (info.done/info.total) * 100.0;
              progress.setAttribute("aria-valuenow", info.done);
              progress.setAttribute("aria-valuemax", info.total);
              progress.setAttribute("style", "width: "+porcent+"%");

              log = document.getElementById("log");
              console.log(info.log.length);
              log.innerHTML = info.log;
          }
      };
      xmlhttp.open("GET", url, true);
      xmlhttp.send();
  }
  var t=setInterval(get_server_info,2500);

</script>
