
<div class="row margin-top30px">
  <div class="panel">
    <div class="panel-body">

      <%= form_for(@usuarioLogado, url: management_spreadsheet_path(@usuarioLogado.id), method: :put, :html => { :multipart => true }) do |f| %>

        <div class="col-sm-12">
          <label class="control-label">Insira a planilha (*.csv)</label>
        </div>
        <div class="col-sm-6 marginB10px">
          <%= f.file_field :spreadsheet, :class => "form-control", :id => "searchField"%>
          <!-- <input id="searchField" type="file" class="form-control uppercase" accept=".xls,.xlsx,.csv"> -->
        </div>
        <div class="col-sm-3">
          <%= f.submit "Abrir", class: 'btn btn-primary btn-lg button border-radius1' %>
          <!-- <button class="btn btn-primary btn-lg button" onclick="abreTabela()"> <span class="glyphicon glyphicon-open-file"></span> Abrir</button>
          <button class="btn btn-default btn-lg button" onclick="fechaTabela()"> <span class="glyphicon glyphicon-erase"></span> Limpar</button> -->
        </div>
      <% end %>
    </div>
  </div>


  <div class="outer margin-bottom50p">
    <% if @usuarioLogado.spreadsheet.blank? %>
        <p>Você não enviou nenhum arquivo.</p> <!-- <p>There is no spreadsheet associated with you.</p> -->
    <% else %>
      <p class="">Para baixar o seu arquivo, clique <%= link_to ">aqui<", @usuarioLogado.spreadsheet.url %>.</p>
      <p>Seu arquivo está carregado abaixo. <strong>>>>As alterações só serão salvas após clicar em "Salvar planilha" abaixo.<<< </strong></p>
      <div class="inner">
        <button id="btnEnviar" class="btn btn-success btn-lg "><i class="fa fa-floppy-o"></i> Salvar planilha</button>
      </div>
    <% end %>
  </div>
  <%
    if @arquivo == ""
  %>
  <%
    else
  %>
    <div id="main-table" class="table-responsive">
      <table class="table table-bordered table-hover table-border">
        <thead>
          <tr class="table-title">
            <th>
              <span class="">
                <input id="checkAll" type="checkbox" onclick="selectAll();">
              </span>
            </th>
            <th>Cod. Disciplina</th>
            <th>Nome</th>
            <th class="width60">Cod. Turma</th>
            <th>Vagas</th>
            <th>Dia Semana</th>
            <th>Hora</th>
            <th class="max-width90px">Tipo</th>
            <th class="width60">Cod. Curso</th>
            <th>Departamento</th>
            <th>
              <div class="dropdown">
                <button class="dropdown-toggle btn btn-default" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu dropdown-list" aria-expanded-labelledby="dropdownActions" style="margin-left: -30px;">
                  <li><a data-toggle="modal" data-target="#modalEnsalar" class="dropdown-delete">Sala</a></li>
                  <li><a data-toggle="modal" data-target="#modalUnion" class="dropdown-delete">Unir</a></li>
                  <li class="divider"></li>
                  <li><a data-toggle="modal" data-target="#modalDelete" class="dropdown-delete" onclick="preencherModalExcluirLinhas()">Excluir</a></li>
                </ul>
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="fade">
          <input class='hidden' id='selecionados' value='-'>

          <!-- armazena o cabecalho do arquivo (nome das colunas) -->
          <input class='hidden campoArquivo' id='colunas' value='<%= @arquivo.first.to_s.split('["')[1].split('"]')[0]%>'>




          <% @arquivo.delete_at(0) %>
          <% @arquivo.each_with_index do |linha, x| %>
              <%
                linha = linha.to_s.split('["')[1].split('"]')[0];
                #elimina o início e final [""]
                elementos = linha.split(';')
                #separa por ;

              %>
              <tr id="line-<%=x%>" class="fade">
                <input class='hidden campoArquivo' id='linha-<%=x%>' value="<%= linha %>;;;;">
                <td>
                  <span class="">
                    <input type="checkbox" class="check">
                  </span>
                </td>
                <% elementos.each_with_index do |elemento, i| %>

                    <% if i == 5  then
                        hora_i = elemento.slice(0,5)
                        hora_f = elementos[i+1].slice(0,5)
                    %>
                    <!-- hora inicio -->
                      <td class="forCheck">
                        <%= hora_i %>
                        <br>
                        <%= hora_f %>
                      </td>
                      <% next%>
                    <% end #end if %>
                    <% if i == 6 then %> <!-- hora final pula -->
                      <% next %>
                    <% end #end if %>
                    <% if i > 9 then %>
                      <% break %>
                    <% else %>
                      <td class="forCheck">
                        <%= elemento.to_s %>
                      </td>
                    <% end #end if %>


                <% end #end each elementos %>
                <td>
                  <a onclick="preencherModalEdit(<%=x%>)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEdit">
                  <i class="fa fa-pencil"></i>
                  </a>
                  <a onclick="preencherModalDelete(<%=x%>)" type="button" class="btn btn-danger" id="edit_linha-<%=x%>" data-toggle="modal" data-target="#modalDelete">
                  <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
          <% end #end each arquivo %>



        </tbody>
      </table>
    </div>
    <div id="getFixed" style="margin-top: 35px;">
    <div class="dropdown">
        <button class="dropdown-toggle btn btn-default" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog"></i>
        </button>
        <ul class="dropdown-menu dropdown-list" aria-expanded-labelledby="dropdownActions">
          <li><a data-toggle="modal" data-target="#modalEnsalar" class="dropdown-delete">Sala</a></li>
          <li><a data-toggle="modal" data-target="#modalUnion" class="dropdown-delete">Unir</a></li>
          <li class="divider"></li>
          <li><a data-toggle="modal" data-target="#modalDelete" class="dropdown-delete" onclick="preencherModalExcluirLinhas()">Excluir</a></li>
          <li class="divider"></li>
          <li><a class="dropdown-delete" onclick="topo();">Voltar ao Topo</a></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<input class='hidden' id='linhaEmEdicao' value=''>
<!-- Modal Edit -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body form-horizontal">
            <div class="form-group  ">
              <label class="col-sm-4 control-label">Código da Disciplina</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="codDisc" disabled value="">
              </div>
            </div>
            <div class="form-group  ">
              <label class="col-sm-4 control-label">Nome da Disciplina</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="nameDisc" disabled value="">
              </div>
            </div>
            <div class="form-group  ">
              <label class="col-sm-4 control-label">Código da Turma</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="codTurm" disabled value="">
              </div>
              <label class="col-sm-4 control-label width100">Vagas</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="vagas" disabled value="">
              </div>
            </div>
            <div class="form-group  ">
              <label class="col-sm-4 control-label">Dia da semana</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="diaSem" disabled value="">
              </div>
              <label class="col-sm-4 control-label width100">Hora</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="hora" disabled value="">
              </div>
            </div>
            <div class="form-group  ">
              <label class="col-sm-4 control-label">Código do Curso</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="codCurso" disabled value="">
              </div>
              <label class="col-sm-4 control-label width100">Tipo</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="tipo" disabled value="">
              </div>
            </div>
            <div class="form-group  ">
              <label class="col-sm-4 control-label">Departamento</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="departamento" disabled value="">
              </div>
            </div>
            <hr class="width80p">
            <h4 class="">Sugerir Ensalamento</h5>
            <div class="form-group">
              <label class="col-sm-4 control-label width150">Sala</label>
              <div class="col-sm-2">
                <input type="text" class="form-control uppercase" maxlength="4" id="sala" tabindex="1">
              </div>
              <label class="col-sm-4 control-label width150">Bloco</label>
              <div class="col-sm-3">
                <input type="text" class="form-control uppercase" id="bloco" maxlength="2" tabindex="2" data-toggle="popover" data-placement="top" title="Selecione os blocos: <button type='button' class='close close-popover' aria-label='Close' onclick='closePopover(1)'><span aria-hidden='true'>×</span></button>" data-content="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label width150">Não ficar em</label>
              <div class="col-xs-2">
                <input type="text" class="form-control uppercase" id="nbloco" maxlength="2" tabindex="3" data-toggle="popover" data-placement="top" title="Selecione os blocos: <button type='button' class='close close-popover' aria-label='Close' onclick='closePopover(2)'><span aria-hidden='true'>×</span></button>" data-content="">
              </div>
              <div class="col-xs-1 helpIconAdaptative">
                <a tabindex="0" class="iconHelpNbloco uppercase" role="button" data-toggle="popover" data-trigger="focus" title="Neste Bloco Não!" data-content="Insira o bloco onde não gostaria que a turma ficasse."><i class="fa fa-question-circle"></i> </a>
              </div>
              <label class="col-sm-3 control-label width90padding0 marginL12">Tipo Carteira</label>
              <div class="col-sm-3">
                <select id="tipoCarteira" class="form-control" tabindex="4">
                  <option selected value="">Selecione</option>
                  <option  value="Q">Qualquer</option>
                  <option value="D">Desenho</option>
                </select>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="limparModal()">Fechar</button>
            <button onclick='salvarDadosLinha()' type="button" class="btn btn-success" tabindex="5">Salvar</button>
          </div>

      </div>
  </div>
</div>
<!-- end Modal-->


<!-- Modal Delete -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelDelete">Excluir</h4>
          </div>
          <input class="hidden" value='' id='modalidadeExcluir'>
          <div class="modal-body" id="modal-body-delete">
            Deseja realmente excluir esta linha? Você perderá estes dados!

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            <button onclick="deletarLinha()" type="button" class="btn btn-danger">Sim</button>
          </div>
      </div>
  </div>
</div>
<!-- end Modal Delete-->

<!-- Modal Union -->
<div class="modal fade" id="modalUnion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUnion">Unir Tuplas</h4>
          </div>
          <div class="modal-body" id="modal-body-unir">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            <button onclick="unirTuplas()" type="button" class="btn btn-success">Sim</button>
          </div>
      </div>
  </div>
</div>
<!-- end Modal Union -->

<!-- Modal Union -->
<div class="modal fade" id="modalErro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUnion">Erro</h4>
          </div>
          <div class="modal-body" id="modal-body-erro">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
      </div>
  </div>
</div>
<!-- end Modal Union -->

<!-- Modal Ensalar -->
<div class="modal fade" id="modalEnsalar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabelensalar">Sugerir Salas</h4>
      </div>
      <div class="modal-body  form-horizontal" id="modal-body-sala">
        <div class="form-group">
          <label class="col-sm-4 control-label width150">Salas</label>
          <div class="col-sm-2">
            <input type="text" class="form-control uppercase" maxlength="4" id="salas" tabindex="1" >
          </div>
          <label class="col-sm-4 control-label width150">Blocos</label>
          <div class="col-sm-3">
            <input type="text" class="form-control uppercase" id="blocos" maxlength="2" tabindex="2" data-toggle="popover" data-placement="top" title="Selecione os blocos: <button type='button' class='close close-popover' aria-label='Close' onclick='closePopover(3)'><span aria-hidden='true'>×</span></button>" data-content="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label width150">Não ficar em</label>
          <div class="col-xs-2">
            <input type="text" class="form-control uppercase" id="nblocos" maxlength="2" tabindex="3" data-toggle="popover" data-placement="top" title="Selecione os blocos: <button type='button' class='close close-popover' aria-label='Close' onclick='closePopover(4)'><span aria-hidden='true'>×</span></button>" data-content="">
          </div>
          <div class="col-xs-1 helpIconAdaptative">
            <a tabindex="0" class="glyphicon glyphicon-question-sign iconHelpNbloco uppercase" role="button" data-toggle="popover" data-trigger="focus" title="Neste Bloco Não!" data-content="Insira o bloco onde não gostaria que a turma ficasse."></a>
          </div>
          <label class="col-sm-3 control-label width90padding0 marginL12">Tipo Carteira</label>
          <div class="col-sm-3">
            <select id="tipoCarteiras" class="form-control" tabindex="4">
              <option selected value="">Selecione</option>
              <option value="Q">Qualquer</option>
              <option value="D">Desenho</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" onclick="ensalarSelecionados()">Salvar</button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal Ensalar -->

<!-- Modal Load -->
<div class="modal fade" id="modalLoad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabelensalar">Aguarde...</h4>
        </div>
        <div class="modal-body" style="text-align: center;">
          <%= image_tag("loading_spinner.gif", :alt => "Aguarde...") %>
        </div>
      </div>
  </div>
</div>
<!-- end Modal Load -->

<!-- Modal Sucesso -->
<div class="modal fade" id="modalSucesso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabelensalar">Salvo com sucesso!</h4>
        </div>
        <div class="modal-body" style="text-align: center;">
          <%= image_tag("ok.jpg", :alt => "OK", :id => "ok") %>

        </div>
        <div class="modal-footer">
          <button class="btn btn-success" onclick="$('#modalSucesso').modal('hide');location.reload();">OK</button>
        </div>
      </div>
  </div>
</div>
<!-- end Modal sucesso -->

<div id="conjuntoBlocos" class="btn-group hidden" role="group" >
    <button type="button" class="block btn btn-default">PA</button>
    <button type="button" class="block btn btn-default">PC</button>
    <button type="button" class="block btn btn-default">PD</button>
    <br>
    <button type="button" class="block btn btn-default">PE</button>
    <button type="button" class="block btn btn-default">PF</button>
    <button type="button" class="block btn btn-default">PG</button>
    <br>
    <button type="button" class="block btn btn-default">PH</button>
    <button type="button" class="block btn btn-default">PI</button>
    <button type="button" class="block btn btn-default">PK</button>
    <br>
    <button type="button" class="block btn btn-default">PR</button>
    <button type="button" class="block btn btn-default">PQ</button>
    <button type="button" class="block btn btn-default">EQ</button>
</div>



<script type="text/javascript">
var lastChecked = null;

$('.dropdown-toggle').dropdown();

$(document).ready(function(){

  $(function () {
    $('[data-toggle="popover"]').popover()
  });

  //configura popover edit individual
    $("#bloco").popover({
        html : true,
        content: function() {
          return $("#conjuntoBlocos").html();
        },
        template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title">Selecione os blocos:</h3><div class="popover-content popover-custom" id="popover-bloco"></div></div>',
        trigger: 'focus | click',
        placement: 'right',
    });

    $('#bloco').on('shown.bs.popover', function () {//função que é ativada após o popover estiver visível ao usuário
      var botoes = $("#popover-bloco").find("button");
      for (var i = 0; i < botoes.length; i++) {
        botoes[i].setAttribute("onclick", "selecionaBloco(this)");
        botoes[i].id += botoes[i].innerHTML;
      };


      var blocos = document.getElementById('bloco').value;
      if (blocos != "") {
        blocos = blocos.split(',');
        for (var i = 0; i < blocos.length; i++) {
          document.getElementById(blocos[i]).className += "btn-primary";
        };
      };

    })

    $("#nbloco").popover({
        html : true,
        content: function() {
          return $("#conjuntoBlocos").html();
        },
        template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title">Selecione os blocos: </h3><div class="popover-content popover-custom" id="popover-nbloco"></div></div>',
        trigger: 'focus | click',
        placement: 'right',
    });


    $('#nbloco').on('shown.bs.popover', function () {//função que é ativada após o popover estiver visível ao usuário
      var botoes = $("#popover-nbloco").find("button");
      for (var i = 0; i < botoes.length; i++) {
        botoes[i].setAttribute("onclick", "selecionaBloco(this)");
        botoes[i].id += "n"+botoes[i].innerHTML;
      };

      var blocos = document.getElementById('nbloco').value;

      if (blocos != "") {
        blocos = blocos.split(',');
        for (var i = 0; i < blocos.length; i++) {
          document.getElementById("n"+blocos[i]).className += "btn-primary";
        };
      };

    });

    //configura popover edit em massa
    $("#blocos").popover({
        html : true,
        content: function() {
          return $("#conjuntoBlocos").html();
        },
        template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title">Selecione os blocos:</h3><div class="popover-content popover-custom" id="popover-blocos"></div></div>',
        trigger: 'focus | click',
        placement: 'right',
    });

    $('#blocos').on('shown.bs.popover', function () {//função que é ativada após o popover estiver visível ao usuário
      var botoes = $("#popover-blocos").find("button");
      for (var i = 0; i < botoes.length; i++) {
        botoes[i].setAttribute("onclick", "selecionaBloco(this)");
        botoes[i].id += botoes[i].innerHTML;
      };


      var blocos = document.getElementById('blocos').value;
      if (blocos != "") {
        blocos = blocos.split(',');
        for (var i = 0; i < blocos.length; i++) {
          document.getElementById(blocos[i]).className += "btn-primary";
        };
      };

    })

    $("#nblocos").popover({
        html : true,
        content: function() {
          return $("#conjuntoBlocos").html();
        },
        template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title">Selecione os blocos:</h3><div class="popover-content popover-custom" id="popover-nblocos"></div></div>',
        trigger: 'focus | click',
        placement: 'right',
    });


    $('#nblocos').on('shown.bs.popover', function () {//função que é ativada após o popover estiver visível ao usuário
      var botoes = $("#popover-nblocos").find("button");
      for (var i = 0; i < botoes.length; i++) {
        botoes[i].setAttribute("onclick", "selecionaBloco(this)");
        botoes[i].id += "n"+botoes[i].innerHTML;
      };

      var blocos = document.getElementById('nblocos').value;

      if (blocos != "") {
        blocos = blocos.split(',');
        for (var i = 0; i < blocos.length; i++) {
          document.getElementById("n"+blocos[i]).className += "btn-primary";
        };
      };

    });


    $(".check").click(function(){
      var check = $(this);
      check[0].checked = ((check[0].checked) ? false : true);
      checkAction(check[0], check[0].parentNode.parentNode.parentNode);
      //            //    span    div   tr
    });

    //selecionar com shift
    var $chkboxes = $('.check');
    $chkboxes.click(function(e) {
        if(!lastChecked) {
            lastChecked = this;
            return;
        }

        if(e.shiftKey) {
            var start = $chkboxes.index(this);
            var end = $chkboxes.index(lastChecked);

            //ao realizar o check, ele já checka, então ele vai do próximo elemento até o penúltimo elemento
            var $checks = $chkboxes.slice(Math.min(start,end)+1, Math.max(start,end));

            for (var i = 0; i < $checks.length; i++) {
              checkAction($checks[i], $checks[i].parentNode.parentNode.parentNode);

            };

        }

        lastChecked = this;
    });

});
//end document ready functions


function unirTuplas () {
  var linha = document.getElementById("selecionados").value;
  linha = linha.split('-');
  document.getElementById("modalidadeExcluir").value = 3;
  x = 0;
  deletarLinha();
  for (var i = 0; i < linha.length; i++) {
    linha[i] = parseInt(linha[i]);
  };
  linha = bubleSort(linha);
  linha.pop();
  linha.shift();

  if (linha.length == 2) {
    document.getElementById("linha-"+linha[0].toString()).value = document.getElementById("lineTemp-"+x).value;
    var vagas = document.getElementById("lineTemp-"+x).value;
    vagas = vagas.split(';');
    vagas = vagas[3];
    x++;
    var line = document.getElementById("line-"+linha[0].toString());
    var colVagas = line.children[4];
    colVagas.innerHTML = vagas;
    var check = line.children[0].children[0].children[0];//check box
    check.click();//clica para desselecionar

    document.getElementById("modalidadeExcluir").value = 2;
    document.getElementById("selecionados").value = "-"+linha[1].toString()+"-";
    deletarLinha();


  }else{
    for (var i = 0; i < 2; i++) {
      document.getElementById("linha-"+linha[i].toString()).value = document.getElementById("lineTemp-"+x).value;
      var vagas = document.getElementById("lineTemp-"+x).value;
      vagas = vagas.split(';');
      vagas = vagas[3];
      x++;
      var line = document.getElementById("line-"+linha[i].toString());
      var colVagas = line.children[4];
      colVagas.innerHTML = vagas;
      var check = line.children[0].children[0].children[0];//check box
      check.click();//clica para desselecionar
    };
  }


  document.getElementById("modal-body-unir").innerHTML = "";
  $('#modalUnion').modal('hide');

}


function closePopover (popover) {
  switch(popover) {
    case 1:
        $('#bloco').popover('hide');
        break;
    case 2:
        $('#nbloco').popover('hide');
        break;
    case 3:
        $('#blocos').popover('hide');
        break;
    case 4:
        $('#nblocos').popover('hide');
        break;
    default:
        break;
  }
}


//função dos botões do popover para selecionar os blocos e nblocos
function selecionaBloco (btn) {

    switch(btn.parentNode.id){
      case "popover-bloco":
        atualizaCampo("bloco", btn);
        break;
      case "popover-nbloco":
        atualizaCampo("nbloco", btn);
        break;
      case "popover-blocos":
          atualizaCampo("blocos", btn);
        break;
      case "popover-nblocos":
          atualizaCampo("nblocos", btn);
        break;
    }

}

function atualizaCampo (id, btn) {
  if (btn.className == "block btn btn-default") {
    btn.className += "btn-primary";
    if (document.getElementById(id).value == "") {
      document.getElementById(id).value = btn.innerHTML;
    }else{
      document.getElementById(id).value += "," + btn.innerHTML;
    }
  } else{
    btn.className = "block btn btn-default";
    if (document.getElementById(id).value.length > 2) {
      document.getElementById(id).value = document.getElementById(id).value.replace("," + btn.innerHTML, "");
      document.getElementById(id).value = document.getElementById(id).value.replace(btn.innerHTML + ",", "");
    }else{
      document.getElementById(id).value = document.getElementById(id).value.replace(btn.innerHTML, "");
    }
  }
}


//seleciona tudo
function selectAll () {

  //$('#modalLoad').modal('show');

  //setTimeout(function(){
    var check = $("tbody tr").find("input");
    var checkAll = document.getElementById("checkAll");

    if (checkAll.checked == true) {
      for (var i = 0; i < check.length; i++) {
        check[i].checked = true;
        $("tbody tr").css("background-color", "rgb(208, 208, 208)");
        document.getElementById('selecionados').value += '-' + check[i].parentNode.parentNode.parentNode.id.split('-')[1];
      };
    }else{
      for (var i = 0; i < check.length; i++) {
        check[i].checked = false;
        $("tbody tr").css("background-color", "");
        document.getElementById('selecionados').value = '-';
      };
    }
    //$('#modalLoad').modal('hide');
  //}, 500);

  //console.log(document.getElementById('selecionados').value);


}

//linhas checkadas são marcadas em 'selecionados' para edição em conjunto
function checkAction(objectToCheck, objectToPaint){
  var linha = objectToPaint.id.split('-')[1];
  if (objectToCheck.checked == true) {
    objectToCheck.checked = false;
    objectToPaint.style.backgroundColor =  "";
    var selects = document.getElementById('selecionados').value;
    selects = selects.replace('-'+linha+'-', '-');
    document.getElementById('selecionados').value = selects;
    //console.log(document.getElementById('selecionados').value);
  } else{
    objectToCheck.checked = true;
    objectToPaint.style.backgroundColor = "rgb(208, 208, 208)";
    document.getElementById('selecionados').value += linha + '-';
    //console.log(document.getElementById('selecionados').value);
  }
}


//preenche o modal de acordo com as informaões do input
//  line-x é a linha da tabela
//  linha-x é o input que contem a string que contém os dados
function preencherModalEdit (id) {

  $("#line-"+id).addClass('background-color-gray');

  var input = document.getElementById("linha-"+id).value;
  input = input.split(';');

  document.getElementById("myModalLabel").innerHTML = "#" + input[0] + " - " + input[1];
  document.getElementById("codDisc").value = input[0];
  document.getElementById("nameDisc").value = input[1];
  document.getElementById("codTurm").value = input[2];
  document.getElementById("vagas").value = input[3];
  document.getElementById("diaSem").value = input[4];
  document.getElementById("hora").value = input[5].slice(0, 5) + "~" + input[6].slice(0,5);
  document.getElementById("tipo").value = input[7];
  document.getElementById("codCurso").value = input[8];
  document.getElementById("departamento").value = input[9];
  document.getElementById('sala').value = input[15];
  document.getElementById('bloco').value = input[16];
  document.getElementById('nbloco').value = input[17];
  document.getElementById('tipoCarteira').value = input[18];
  document.getElementById("linhaEmEdicao").value = id;
}


//joga os dados nos inputs
function ensalarSelecionados () {
  var linha = document.getElementById("selecionados").value;
  linha = linha.split('-');

  var sala = document.getElementById('salas').value;
  var bloco = document.getElementById('blocos').value;
  var nbloco = document.getElementById('nblocos').value;
  var tipoCarteira = document.getElementById('tipoCarteiras').value;

  for (var i = 1; i < linha.length - 1; i++) {
    var string = $("#linha-"+linha[i]).val();
    string = string.split(";");
    string[string.length - 1] = tipoCarteira;
    string[string.length - 2] = nbloco;
    string[string.length - 3] = bloco;
    string[string.length - 4] = sala;

    $("#linha-"+linha[i]).val(string.join(';'));
  }

  $('#modalEnsalar').modal('hide');
  limparModal();
}

//joga os dados no input
function salvarDadosLinha() {
  var id = document.getElementById('linhaEmEdicao').value;
  var sala = document.getElementById('sala').value;
  var bloco = document.getElementById('bloco').value;
  var nbloco = document.getElementById('nbloco').value;
  var tipoCarteira = document.getElementById('tipoCarteira').value;

  var string = document.getElementById('linha-' + id).value;
  string = string.split(';');
  string[string.length - 1] = tipoCarteira;
  string[string.length - 2] = nbloco;
  string[string.length - 3] = bloco;
  string[string.length - 4] = sala;

  document.getElementById('linha-' + id).value = string.join(';');
  $('#modalEdit').modal('hide');
  limparModal();

}



function preencherModalDelete (id) {
  document.getElementById('modalidadeExcluir').value = 1;
  document.getElementById("linhaEmEdicao").value = id;

  $("#line-"+id).addClass('background-color-red');

  var input = document.getElementById("linha-"+id).value;
  input = input.split(';');
  document.getElementById("myModalLabelDelete").innerHTML = "Deletar #" + input[0] + " - " + input[1];
  document.getElementById("modal-body-delete").innerHTML = "Tem certeza que deseja excluir esta linha?";


}


//deleta a(s) linha(s) da tabela e o(s) input(s) específico
function deletarLinha () {
  var valor = document.getElementById("modalidadeExcluir").value;

  if (valor == 1) {//exclui 1 linha
    var id = document.getElementById('linhaEmEdicao').value;

    document.getElementById('selecionados').value = document.getElementById('selecionados').value.replace('-'+id+'-', '-');

    $("#line-"+id).addClass('fadeStrong');
    setTimeout(function(){

      $("#linha-"+id).remove();
      $("#line-"+id).remove();

    }, 900);
  } else if (valor == 2) {//exclui várias linhas
    var ids = document.getElementById("selecionados").value;
    ids = ids.split('-');
    for (var i = 0; i < ids.length; i++) {
      $("#line-"+ids[i]).addClass('fadeStrong');
    };

    setTimeout(function(){

      for (var i = 0; i < ids.length; i++) {
        $("#line-"+ids[i]).addClass('fadeStrong');
        $("#linha-"+ids[i]).remove();
        $("#line-"+ids[i]).remove();
      };

    }, 900);

  } else if (valor == 3) {//excluir linhas da uniao
      var linha = document.getElementById("selecionados").value;
      ids = linha.split('-');
      for (var i = 0; i < ids.length; i++) {
        ids[i] = parseInt(ids[i]);
      };

      ids = bubleSort(ids);

      ids.pop();
      ids.shift();
      for (var i = 2; i < ids.length; i++) {
        $("#line-"+ids[i].toString()).addClass('fadeStrong');
      };
      setTimeout(function(){

        for (var i = 2; i < ids.length; i++) {
          $("#line-"+ids[i]).addClass('fadeStrong');
          $("#linha-"+ids[i]).remove();
          $("#line-"+ids[i]).remove();
        };

      }, 900);
  };

  document.getElementById('selecionados').value = '-';

  $('#modalDelete').modal('hide');

  limparModal();
}



function preencherModalExcluirLinhas () {
  document.getElementById('modalidadeExcluir').value = 2;
  var ids = document.getElementById("selecionados").value;

  ids = ids.split('-');

  //primeiro e o último valor são vazios
  for (var i = 1; i < ids.length - 1; i++) {
    $("#line-"+ids[i]).addClass('background-color-red');
  };

  document.getElementById("myModalLabelDelete").innerHTML = "Deletar linhas";
  document.getElementById("modal-body-delete").innerHTML = "Tem certeza que deseja excluir as linhas selecionadas?";
}



function limparModal () {

  document.getElementById("linhaEmEdicao").value = "";

  document.getElementById("myModalLabel").innerHTML = "";
  document.getElementById("codDisc").value = "";
  document.getElementById("nameDisc").value = "";
  document.getElementById("codTurm").value = "";
  document.getElementById("vagas").value = "";
  document.getElementById("diaSem").value = "";
  document.getElementById("hora").value = "";
  document.getElementById("codCurso").value = "";
  document.getElementById("tipo").value = "";
  document.getElementById("departamento").value = "";
  document.getElementById('sala').value = "";
  document.getElementById('bloco').value = "";
  document.getElementById('nbloco').value = "";
  document.getElementById('tipoCarteira').value = "Q";
  document.getElementById('salas').value = "";
  document.getElementById('blocos').value = "";
  document.getElementById('nblocos').value = "";
  document.getElementById('tipoCarteiras').value = "Q";


  document.getElementById("myModalLabelDelete").innerHTML = "";


  $("#bloco").popover('hide');
  $("#nbloco").popover('hide');
  $("#blocos").popover('hide');
  $("#nblocos").popover('hide');

}



$('#modalUnion').on('shown.bs.modal', function (e) {
    linhas = document.getElementById("selecionados").value;
    linhas = linhas.split("-");
    for (var i = 0; i < linhas.length; i++) {
      linhas[i] = parseInt(linhas[i]);
    };
    //linhas.sort(function(a, b){return a-b});
    linhas = bubleSort(linhas);
    linhas.pop();
    linhas.shift();
    linhasAunir = [];

    tudoIgual = 1;
    codDisc = document.getElementById("linha-"+linhas[0].toString()).value.split(";")[0];
    aux = "";
    for (var i = 0; i < linhas.length; i++) {
      aux = document.getElementById("linha-"+linhas[i].toString()).value.split(";")[0];
      if (codDisc != aux) {
        tudoIgual = 0;
        break;
      }
    };


    if (linhas.length%2 == 0 && tudoIgual == 1) {
      for (var i = 0; i < linhas.length; i++) {
        linhasAunir.push(document.getElementById("linha-"+linhas[i].toString()).value);
      };
      document.getElementById("modal-body-unir").innerHTML += 'Deseja realmente unir as turmas selecionadas? <br><br> Resultado:';



      string1 = "";
      string2 = "";


      //caso selecione apenas 2 linhas
      if (linhas.length == 2) {

        string1 = linhasAunir[0].split(';'); //linha que será substituida
        stringaux = linhasAunir[1].split(';'); //linha que será somada na de cima
        vagas = parseInt(string1[3]) + parseInt(stringaux[3]);
        string1[3] = vagas;
        linhasAunir[0] = string1.join(';');



        //cria os inputs temporários que armazenam as informações das linhas unidas
        var input = document.createElement("input");
        input.id = "lineTemp-0";
        input.value = linhasAunir[0];
        input.className = "hidden";
        document.getElementById("modal-body-unir").appendChild(input);


        var div = document.createElement("div");
        div.innerHTML = "<hr>Cod.Disciplina: "+string1[0]+"<br>"+
                  "Nome Disciplina: "+string1[1]+"<br>"+
                  "Cod. Turma: "+string1[2]+"<br>"+
                  "<b>Vagas: "+string1[3]+"</b><br>"+
                  "Dia da semana: "+string1[4]+"<br>"+
                  "Hora: "+string1[5]+ "~"+string1[6]+"<br>";
      }else{


        //linha[0] e linha[1] possuem a união das linhas
        for (var i = 2; i < linhasAunir.length; i=i+2) {// pos 2, 4, 6, ...
          string1 = linhasAunir[0].split(';'); //linha que será substituida
          stringaux = linhasAunir[i].split(';'); //linha que será somada na de cima
          vagas = parseInt(string1[3]) + parseInt(stringaux[3]);
          string1[3] = vagas;
          linhasAunir[0] = string1.join(';');
        };

        for (var i = 3; i < linhasAunir.length; i=i+2) {// pos 3, 5, 7, ...
          string2 = linhasAunir[1].split(';'); //linha que será substituida
          stringaux = linhasAunir[i].split(';'); //linha que será somada na de cima
          vagas = parseInt(string2[3]) + parseInt(stringaux[3]);
          string2[3] = vagas;
          linhasAunir[1] = string2.join(';');
        };

      //=============================================


        //cria os inputs temporários que armazenam as informações das linhas unidas
        var input = document.createElement("input");
        input.id = "lineTemp-0";
        input.value = linhasAunir[0];
        input.className = "hidden";
        document.getElementById("modal-body-unir").appendChild(input);

        var input = document.createElement("input");
        input.id = "lineTemp-1";
        input.value = linhasAunir[1];
        input.className = "hidden";
        document.getElementById("modal-body-unir").appendChild(input);
        //=========================================================================


        //joga no modal para mostrar para o usuário
        var div = document.createElement("div");
        div.innerHTML = "<hr>Cod.Disciplina: "+string1[0]+"<br>"+
                  "Nome Disciplina: "+string1[1]+"<br>"+
                  "Cod. Turma: "+string1[2]+"<br>"+
                  "<b>Vagas: "+string1[3]+"</b><br>"+
                  "Dia da semana: "+string1[4]+"<br>"+
                  "Hora: "+string1[5]+ "~"+string1[6]+"<br>";
        div.innerHTML += "<hr>Cod.Disciplina: "+string2[0]+"<br>"+
            "Nome Disciplina: "+string2[1]+"<br>"+
            "Cod. Turma: "+string2[2]+"<br>"+
            "<b>Vagas: "+string2[3]+"</b><br>"+
            "Dia da semana: "+string2[4]+"<br>"+
            "Hora: "+string2[5]+ "~"+string2[6]+"<br>";
      }

      document.getElementById("modal-body-unir").appendChild(div);
      //======================================


    }else{

      document.getElementById("modal-body-erro").innerHTML = "Quantidade selecionada inválida ou disciplinas não se correspondem."
      $('#modalErro').modal('show');
      $('#modalUnion').modal('hide');
    }
});


$('#modalUnion').on('hidden.bs.modal', function (e) {
  document.getElementById("modal-body-unir").innerHTML = "";

});

$('#modalDelete').on('hidden.bs.modal', function () {
  $(".fade").removeClass('background-color-red');
});

$('#modalEdit').on('hidden.bs.modal', function () {
  $(".fade").removeClass('background-color-gray');
  limparModal();
});

function topo () {
  $("html, body").animate({scrollTop: 0 }, 600);
}

function fixDiv() {
  var $cache = $('#getFixed');
  if ($(window).scrollTop() > 350)
    $cache.css({'position': 'fixed', 'top': '10px'});
  else
    $cache.css({'position': 'relative', 'top': 'auto'});
}

$(window).scroll(fixDiv);

fixDiv();




$('#btnEnviar').click(function(event) {
  $('#modalLoad').modal('show');
  event.preventDefault();

  var linhas = document.getElementsByClassName("campoArquivo");

  var dados = [];

  for (var i = 0; i < linhas.length; i++) {
    dados[i] = linhas[i].value;
  };


  //se o cabeçalho do arquivo não tiver as colunas das salas
  if (dados[0].search(";SALA;BLOCO;NBLOCO;CARTEIRA") < 0) {
    dados[0] += ';SALA;BLOCO;NBLOCO;CARTEIRA';
  }


  $.ajax({
    type:'POST',
    dataType: 'json',
    url:'/management/spreadsheets/salvarNovoArquivo',
    data: {'dados': dados},
    success:function(result){
      if (result.result == "ok") {
        setTimeout(function () {
          $('#modalLoad').modal('hide');
          $('#modalSucesso').modal('show');
        }, 500);
        //console.log(result);
      }else{

      }

    },
    error: function(response) {
      //console.log(response);
    }
  });
});

//sort do javascript dando problema, implementado o próprio sort ~ trocar depois para um sort melhor
function bubleSort (a) {
  var swapped;
  do {
      swapped = false;
      for (var i=0; i < a.length-1; i++) {
          if (a[i] > a[i+1]) {
              var temp = a[i];
              a[i] = a[i+1];
              a[i+1] = temp;
              swapped = true;
          }
      }
  } while (swapped);

  return a;
}

</script>
