<%= render partial: 'shared/management/title', locals:{title:"Agrupamento de Turmas"}%>

<%if current_user.role?('admin') || current_user.role?('committee')%>
    <form method="get"><div class="input-group">
        <%=select_tag "department", options_from_collection_for_select(Department.all, "id", "name",:selected=>@department_id), class:"form-control"%>
        <span class="input-group-btn"><%=submit_tag("Ver",class:"btn btn-primary")%></span>
    </div></form><hr>
<%end%>



<%@groups.each do |group|%>
    <%= form_tag("spreadsheets/join", method: "put") do %>
    <table class="table table-bordered table-hover table-border">
      <thead>
      <tr><th colspan="6"><%=link_to(group.subject.name,[:management,group.subject])%></th></tr>
        <tr>
          <th width=16px></th>
          <th width=16px>Código</th>
          <th>Curso</th>
          <th width=20px>Vagas</th>
          <th colspan="2">Horarios</th>
        </tr>
      </thead>

      <tbody>


        <%group.klasses.each do |klass|%>
            <tr>
                <td><input type="checkbox" name="klasses[]" value="<%=klass.id%>"></td>
                <% if klass.is_join %>
                  <td><%klass.klasses.each do |k|%>
                      <%=k.code%><br>
                  <%end%></td>
                  <td><%klass.klasses.each do |k|%>
                      <%=k.course.name%><br>
                  <%end%></td>
                <%else%>
                  <td><%= klass.code %></td>
                  <td><%= klass.course.name %></td>
                <%end%>

                <%if klass.schedules.size > 0 %>
                    <td><%= klass.vacancy %></td>
                    <td>
                        <%klass.schedules.each do |sched|%>
                            <%=sched.weekday%>º -
                            <%=sched.ini.hour%>:<%=sched.ini.min%> -
                            <%=sched.end.hour%>:<%=sched.end.min%><br>
                        <%end%>
                    </td>
                <%end%>

                <td><%if klass.is_join%>
                    <%=link_to("divide","spreadsheets/divide?id="+klass.id.to_s)%>
                <%end%></td>
            </tr>
        <%end%>


        <tr><td><%=submit_tag("+")%></td></tr>
      </tbody>
    </table></form>
    <%end%>
<%end%>
