<%= render partial: 'shared/management/title', locals:{title:"Finalizar Alterações"}%>

<%if current_user.department.is_modifying%>
  <%=link_to "Finalizar",management_finalize_department_path,class:"btn btn-primary"%>
  <hr>
<%end%>

<%= render partial: "shared/management/matrix", locals: { matrix: @matrix } %>
