<%= render partial: 'shared/management/title', locals:{title:"Disciplinas para Ensalamento"}%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Turmas</th>
      <th>Tipo de Sala</th>
    </tr>
  </thead>

  <tbody>
    <%@subjects.each do |subject|%>
      <tr>
        <td> <%=link_to subject.code,[:management, subject]%> </td>
        <td> <%=subject.name%> </td>
        <td> <%=subject.getRequireRoomSchedules.size%> </td>
        <td>
          <% if subject.room_type.blank? %>
              <a href="/management/subjects/<%=subject.id%>/edit"> não precisa </a>
          <%else%>
            <a href="/management/subjects/<%=subject.id%>/edit"> <%=subject.room_type.name%> </a>
          <%end%>
      </tr>
    <%end%>
  </tbody>
</table>
