<!DOCTYPE html>
<html>
  <head>
    <title>Ensalamento - Sobre</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'about',       'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/application/header' %>
    <div class="container-fluid"><div class="row content">
      <div class="col-sm-3 col-md-2 sidebar">
          <%= render partial: 'shared/about/menu' %>
      </div>
      <div class="col-sm-9 col-md-10 main">
        <%= yield %>
      </div>
    </div></div>
  </body>
</html>
