<!DOCTYPE html>
<html>
  <head>
    <title>Ensalamento</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/application/header' %>
    <div class="container-fluid "><div class="row">
      <div class="col-md-12 main">
        <%= yield %>
      </div>
    </div></div>
  </body>
</html>
