<%= render partial: 'shared/management/title', locals:{title:"Disciplinas",span:Subject.all.size}%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Requer Sala do Tipo</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>


        <%if subject.is_equivalence %>
            <td><%subject.subjects.each do |son|%>
                <%= son.code %><br>
            <%end%></td>
            <td><a href="/management/subjects/<%=subject.id%>" >
                <%subject.subjects.each do |son|%>
                    <%= son.name %><br>
                <%end%>
            </a></td>
        <%else%>
            <td><%= subject.code %></td>
            <td><%= link_to subject.name, [:management, subject] %></td>
        <%end%>


        <td><% if subject.room_type.blank? %>
            <a href="/management/subjects/<%=subject.id%>/edit"> não precisa </a>
        <%else%>
          <a href="/management/subjects/<%=subject.id%>/edit"> <%=subject.room_type.name%> </a>
        <%end%></td>

        <% if current_user.role?('secretary') && current_user.department == subject.department %>
        <td><%= link_to 'Editar', edit_management_subject_path(subject), :class => "btn btn-primary"  %></td>
        <td><%= link_to 'Excluir', [:management, subject], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
        <%end%>
        <% if current_user.role?('admin') || current_user.role?('committee')%>
        <td><%= link_to 'Editar', edit_management_subject_path(subject), :class => "btn btn-primary"  %></td>
        <td><%= link_to 'Excluir', [:management, subject], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @subjects %>

<br>
<% if current_user.role?('admin') || current_user.role?('committee')%>
<%= link_to 'Nova Disciplina', new_management_subject_path, :class => "btn btn-primary" %>
<%end%>
