<%= render partial: 'shared/management/title', locals:{title:"Disciplinas", span:Subject.allFathers.size}%>

<%= render partial: 'shared/subjects/showpkg', locals:{pkg:@subjects,with_page:true,with_search:true}%>
