
<h2>  <%=@subject.code%> - <%=@subject.name%> </h2><hr>


<dl class="row">
  <dt class="col-sm-2">Departamento:</dt>
  <dd class="col-sm-10"><%=link_to @subject.department.name,[:public,@subject.department]%></dd>

  <dt class="col-sm-2">Setor:</dt>
  <dd class="col-sm-10"><%=link_to @subject.department.sector.name,[:public,@subject.department.sector]%></dd>
</dl>


<%if @subject.subjects.size > 0%>
    <h2>Sub-Disciplinas</h2>
    <%= render partial: 'shared/subjects/showpkg', locals:{pkg:@subject.subjects}%>
<%end%>

<h2>Turmas</h2>
<%= render partial: 'shared/klasses/showpkg', locals:{pkg:@subject.getValidKlasses}%>



<h2> Carga Horária </h2>
<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Horas Teóricas</th>
      <th>Horas Práticas</th>
      <th>Horas de Estágio</th>
      <th>Horas Totais</th>
      <th>Créditos</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @subject.hour_theorical %></td>
        <td><%= @subject.hour_practical %></td>
        <td><%= @subject.hour_internship %></td>
        <td><%= @subject.hour_theorical+@subject.hour_practical+@subject.hour_internship%></td>
        <td><%= @subject.credits %></td>
      </tr>
  </tbody>
</table>





<%@subject.metadatas.each do |meta|%>
  <h2><%=meta[0].capitalize%></h2>
  <%if meta[0] == "ficha1" || meta[0]=="ficha2"%>
      <%=link_to meta[1],meta[1],target: "blank"%>
      <%next%>
  <%end%>

  <%if meta[1].kind_of?(Array)%>
    <ul><%meta[1].each do |line|%>
      <%if line.kind_of?(Hash)%>
        <%=link_to line["href"],line["href"],target: "blank"%>
      <%else%>
        <li align="justify"><%=line%></li>
      <%end%>
    <%end%></ul>
  <%elsif meta[1].kind_of?(Hash)%>
      <%=link_to meta[1]["href"],meta[1]["href"],target: "blank"%>
  <%else%>
    <p align="justify"><%=meta[1]%></p>
  <%end%>
<%end%>
