<%= form_for([:secsector, @block]) do |f| %>
  <% if @block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@block.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :code %><br>
    <%= f.text_field :code, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :nome %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, class:"form-control" %>
  </div>

  <div class="actions">
    <br>
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
