<%= render partial: 'shared/management/title',
    locals:{title:"Blocos",new_path: new_secsector_block_path }
%>

<%= render partial: 'shared/blocks/showpkg_editable', locals:{pkg:@blocks,role:"secsector"}%>
