<p>
  <strong>Code:</strong>
  <%= @room.code %>
</p>

<p>
  <strong>Block:</strong>
  <%= @room.block.code %>
</p>

<p>
  <strong>Size:</strong>
  <%= @room.size %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @room.sector %>
</p>
