<%= render partial: 'shared/management/title', locals:{title:"Horarios fora do Padrão", span:@wrongs.size}%>



<table class="table table-hover">
    <thead><tr><th>Codigo</th><th>Horario</th><th>Duração</th></tr></thead>
<%@wrongs.each do |wrong|%>
    <tr>
        <%subject=wrong.klass.subject%>
        <td><%=link_to subject.code,[:management,subject] %></td>
        <td><%=wrong.to_s%></td>
        <td><%=wrong.end.hour - wrong.ini.hour%></td>
    </tr>
<%end%>
</table>
