<%= render partial: 'shared/management/title',
    locals:{title:"Blocos",span:Block.all.size,new_path: new_committee_block_path}
%>

<%= render partial: 'shared/blocks/showpkg_editable', locals:{pkg:@blocks, role:"committee"}%>
