<%= render partial: 'shared/management/title', locals:{
  title:"Bloco #{@block.name}",
  edit_path: [:edit, :committee, @block]
}%>

<p>
  <strong>Setor:</strong>
  <%= (@block.sector.blank?) ? "None" : link_to(@block.sector.name, public_sector_path(@block.sector)) %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @block.latitude %>
  <strong>Longitude:</strong>
  <%= @block.longitude %>
</p>
<br>


<h2>Departamentos<span class="badge"><%=@block.departments.size%></span></h2>
<%= render partial: 'shared/departments/showpkg', locals:{klasscount:@klasscount, pkg:@block.departments}%>
<%=link_to "Adicionar novo Departamento", new_committee_department_path, class: "btn btn-primary"%>



<h2>Salas<span class="badge"><%=@block.rooms.size%></span></h2>
<%= render partial: 'shared/rooms/showpkg_editable', locals:{pkg:@block.rooms.order("LOWER(code)"),role:"committee"}%>
<%=link_to "Adicionar nova Sala","/committee/rooms/new?room[block_id]=#{@block.id}", class: "btn btn-primary"%>
