<%= form_tag(method: "post") do %>
  <%= label_tag(:nom, "Disciplina A") %>
  <%= text_field_tag(:nom) %>

  <%= label_tag(:akk, "Disciplina B") %>
  <%= text_field_tag(:akk) %>

  <%= submit_tag("Equivalentes") %>
<% end %><br><br>
