<%= render partial: 'shared/management/title', locals:{title:"Equivalencias de Disciplinas"}%>

<button id="hscode" disabled style="border-style:inset;" onclick="toggleCodeName('code', 'name')">Por código</button>
<button id="hsname" onclick="toggleCodeName('name', 'code')">Por nome</button>
<br><br>

<div id="code">
    <%= form_tag(method: "post") do %>
      <%= label_tag(:nom, "Disciplina A") %>
      <%= text_field_tag(:nom) %>
    
      <%= label_tag(:akk, "Disciplina B") %>
      <%= text_field_tag(:akk) %>
    
      <%= submit_tag("Equivalentes") %>
    <% end %><br><br>
</div>

<!--alternativa, com dropdown-->
<div id="name" style="display: none;">
    <%= form_tag("/secdep/equivalences", method: :post) do %>
      <%= label_tag(:nom_col, "Disciplina A") %>
      <%= collection_select(:nom_col, :subject_id, @subjects, :id, :name, {include_blank: 'Selecione a Disciplina'}, {class:"form-control checkChange"} ) %><br>
    
      <%= label_tag(:akk_col, "Disciplina B") %>
      <%= collection_select(:akk_col, :subject_id, @subjects, :id, :name, {include_blank: 'Selecione a Disciplina'}, {class:"form-control checkChange"} ) %><br>
      
      <%= submit_tag("Equivalentes") %>
    <% end %><br><br>
</div>

<% if @equivalences.present? %>
<hr><h4>Equivalencias</h4><br> 
<% end %>

<%@equivalences.each do |equi|%>
    <table class="table"><tr>
        <tr>
            <th><%=equi.code%></th>
            <th><div align="right"><%= link_to 'Excluir', [:secdep, equi], method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esta equivalencia?' } %></div></th>
        </tr>
        <%equi.subjects.each do |subj|%>
            <tr>
                <td><%=subj.code%></td>
                <td><%=subj.name%></td>
            </tr>
        <%end%>
    </tr></table><br>
<%end%>

<script type="text/javascript">
        function toggleCodeName(show, hide) {
            $("#"+hide).hide();
            $("#"+show).show();
            $('#hs'+show).prop('disabled', true);
            $('#hs'+hide).prop('disabled', false);
            $("#hs"+show).css({"border-style": "inset"});
            $("#hs"+hide).css({"border-style": ""});
        }
</script>