<%= render partial: 'shared/management/title',
    locals:{title:"Disciplinas",new_path: new_secdep_subject_path}
%>
<!-- span:Subject.all.size, -->

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Requer Sala do Tipo</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <%if subject.is_equivalence %>
            <td><%subject.subjects.each do |son|%>
                <%= son.code %><br>
            <%end%></td>
            <td><a href="/secdep/subjects/<%=subject.id%>" >
                <%subject.subjects.each do |son|%>
                    <%= son.name %><br>
                <%end%>
            </a></td>
        <%else%>
            <td><%= subject.code %></td>
            <td><%= link_to subject.name, [:secdep, subject] %></td>
        <%end%>


        <td><% if subject.room_type.blank? %>
            <a href="/secdep/subjects/<%=subject.id%>/edit"> não precisa </a>
        <%else%>
          <a href="/secdep/subjects/<%=subject.id%>/edit"> <%=subject.room_type.name%> </a>
        <%end%></td>

        <td>
          <%= link_to 'Editar', edit_secdep_subject_path(subject), :class => "btn btn-default"  %>
          <%= link_to 'Excluir', [:secdep, subject], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
