<%= render partial: 'shared/management/title', locals:{
  title:"Salas",span:Room.all.size,
  new_path: new_committee_room_path
}%>


<%= render partial: 'shared/rooms/showpkg_editable',
  locals:{
    pkg:@rooms,with_page:false,role:"secsector"
  }
%>
