<%= render partial: 'shared/management/title', locals:{title:"Sala #{@room.code}"}%>


<%= render partial: 'shared/rooms/week', locals:{pkg:@room.week}%>


<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Curso</th>
      <th>Professor</th>
    </tr>
  </thead>



  <tbody>
    <% @room.klasses.each do |klass| %>
      <tr>
        <td><%= link_to(klass.name,[:public,klass]) %></td>
        <td><%= link_to(klass.course.name,[:public,klass.course])%></td>
        <td><%= (klass.professor.blank?) ? "Nenhum" : link_to(klass.professor.name, public_professor_path(klass.professor)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
