<div class="row">
  <br/>
  <h4>Search result: </h4>
  <% if @results.blank? %>
    None
  <% else %>
    <% @results.each do |result, details| %>
      <div class="small-6 medium-4 columns">
        <div class="panel">
          <% case result.model_name.name %>
          <% when "Klass" then %>
            <a class="class-modal" href="<%= result.id %>">
              <h5>Discipline: <%= result.discipline.code %> (<%= result.discipline.name %>)</h5>
              <hr>
              <p>
                Class: <%= result.name %>
                <% unless result.professor.blank? %>
                  <br/>Professor: <%= result.professor %>
                <% end %>
              </p>
            </a>
          <% when "Room" then %>
            <a href="<%= room_path(result.id) %>">
              <h5>room: <%= result.code %></h5>
              <hr>
              <p>
                Block: <%= result.block %>
                <% unless result.sector.blank? %>
                  <br/>Sector: <%= result.sector %>
                <% end %>
                <% unless result.size.blank? %>
                  <br/>Size: <%= result.size %>
                <% end %>
                <% unless result.variety.blank? %>
                  <br/>Type: <%= result.variety %>
                <% end %>
              </p>
            </a>
          <% when "Course" then %>
          <a href="<%= course_path(result.id) %>">
            <h5>Course: <%= result.name unless result.name.blank? %> (<%= result.code %>)</h5>
            <hr>
            <p>
              <% unless result.department.blank? %>
                <br/>Department: <%= result.department.name %>
              <% end %>
              <% unless result.disciplines.blank? %>
                <br/>Disciplines:
                  <% result.disciplines.each do |discipline| %>
                    <li><%= discipline.name + " (" + discipline.code + ")" %></li>
                  <% end %>
              <% end %>
            </p>
          </a>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
