<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Nome</th>
	    <th>Professores</th>
      <th>Turmas</th>
    </tr>
  </thead>
  <tbody>
    <% pkg.each do |department| %>
      <tr>
        <td><%= link_to(department.name, "/public/"+department.rid) %> </td>
	      <td><%=department.professors.count %> </td>
        <td><%= klasscount[department.id] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
