<% if !local_assigns.has_key? :with_page; with_page = false; end%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Professores</th>
      <th>Turmas</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% pkg.each do |department| %>
      <tr>
        <td><%= link_to(department.name, [role, department]) %> </td>
        <td><%=department.professors.count %> </td>
        <td><%= klasscount[department.id] %></td>
        <td><%=edit_buttons(role,department)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
