<%= render partial: 'shared/management/title', locals:{title:"Blocos",span:Block.all.size}%>

<%is_writable = (@cur_user.is_committee?) ? :committee : nil%>
<%= render partial: 'shared/blocks/showpkg', locals:{pkg:@blocks, is_writable:is_writable}%>
