<script type="text/javascript">
  $("#start").hide();//esconder inicio
  $(document).ready(function () {
      var elements = document.getElementsByTagName("INPUT");
      for (var i = 0; i < elements.length; i++) {
          elements[i].oninvalid = function (e) {
              e.target.setCustomValidity("");
              if (!e.target.validity.valid) {

                if (e.target.validity.valueMissing) {
                  switch (e.srcElement.id) {
                      case "inputEmail3":
                          e.target.setCustomValidity("Campo obrigatório!");
                          break;
                      case "inputPassword3":
                          e.target.setCustomValidity("Campo obrigatório!");
                          break;
                  }
                }else if (e.target.validity.typeMismatch) {
                  /switch (e.srcElement.id) {
                      case "inputEmail3":
                          e.target.setCustomValidity("Por favor, inclua '@' no campo de email!");
                          break;
                  }
                }else if (e.target.validationMessage.split('@')[0] == "Please enter a part following '") {
                  e.target.setCustomValidity("Por favor complete o campo após '@'.");
                };
              }
          };
          elements[i].oninput = function (e) {
              e.target.setCustomValidity("");
          };
          elements[i].onkeydown = function (e) {
              e.target.setCustomValidity("");
          };
      }
  });
</script>


<div class="container">
  <div class="row"><div class="col-sm-offset-3 col-sm-6"><div class="panel panel-default"><div class="panel-body">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-signin"} ) do |f| %>
      <div class="form-group">
        <div class="col-sm-12"><center>
          <a href="/"> <%= image_tag("logo-md.png", :alt => "Início") %> </a>
        </center></div>
      </div>


      <div class="form-group">
        <%= f.label :login, :class => "col-sm-2 control-label lbl-desc", :for => "inputEmail3"%>
        <div class="col-sm-10">
          <%= f.text_field :email, autofocus: true, :class => "form-control", :id => "inputEmail3", :placeholder => "Login", required: true %>
        </div>

      </div>
      <div class="form-group">
        <%= f.label :senha, :class => "col-sm-2 control-label lbl-desc" %>
        <div class="col-sm-10">
          <%= f.password_field :password, autocomplete: "off", :class => "form-control", :id => "inputPassword3", :placeholder => "Senha", required: true %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="col-sm-12">
              <div class="checkbox">
                <label class="label-remember">
                    <%= f.check_box :remember_me %> Lembrar das minhas credenciais
                </label>
              </div>
          </div>
        </div>
      <% end -%>

      <div class="form-group">
        <div class=" col-sm-12">
          <%= f.submit "Entrar", :class=> "btn btn-lg btn-primary btn-block" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= render "devise/shared/links" %>
        </div>

      </div>


    <% end %>
</div></div></div></div>
</div>
