<%= render partial: 'shared/management/title', locals:{title:"Semanas",span:Week.all.size}%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Semana</th>
    </tr>
  </thead>

  <tbody>
    <%id=0%>
    <% @weeks.each do |week| %>
      <tr>
          <td><%=id+=1%></td><td><%=week.ini%></td>
      </tr>
    <% end %>
  </tbody>
</table>
