<%= render partial: 'shared/management/title', locals:{title:"Sala #{@room.code}"}%>

<p align="center">
<%=link_to "PDF", "#{request.fullpath}.pdf", class:"btn btn-lg btn-primary"%>
<%=link_to "Mapa", "http://www.campusmap.ufpr.br/?s=#{@room.code}", target: "blank", class:"btn btn-lg btn-success"%>
</p><br>


<%= render partial: 'shared/rooms/week', locals:{pkg:@room.week}%>


<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Curso</th>
      <th>Professor</th>
    </tr>
  </thead>

  <tbody>
    <% @room.klasses.each do |klass| %>
      <tr>
        <td><%= link_to(klass.name,[:public,klass]) %></td>
        <td><%= link_to(klass.course.name,[:public,klass.course])%></td>
        <td><%= (klass.professor.blank?) ? "" : link_to(klass.professor.name, public_professor_path(klass.professor)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%@room.schedules_by_week%>
