<%= form_for([:admin, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :email, autofocus: true, class:"form-control" %>
  </div><br>

  <div class="field">
    <%= f.label :senha %><br />
    <%= f.password_field :password, class:"form-control" %>
  </div><br>

  <div class="field">
    <%= f.label "Secretario do Departamento" %><br />
    <%= f.collection_select :department_id, Department.all, :id, :name, {include_blank: 'Nenhum'}, {class: 'form-control'} %>
  </div><br>

  <div class="field">
    <%= f.label "Secretario do Setor" %><br />
    <%= f.collection_select :sector_id, Sector.all, :id, :name, {include_blank: 'Nenhum'}, {class: 'form-control'} %>
  </div><br>

  <div class="field"><center>
    <%= f.check_box :eh_admin%><%= f.label :É_administrador %>
    <%= f.check_box :eh_committee%><%= f.label :É_Comissão %>
  </center></div><hr>

  <div class="actions"><center>
    <%= f.submit "Salvar", class: 'btn btn-primary btn-lg' %>
  </center></div>
<% end %>
