<%= render partial: 'shared/management/title',
    locals:{title:"Usuarios", span:User.all.size, new_path: new_admin_user_path}
%>


<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Login</th>
      <th>Departamento</th>
      <th>Usuário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >

    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
            <%= user.department.blank?) ? "" : link_to(user.department.name, public_department_path(user.department) %>
            <%= user.sector.blank?) ? "" : link_to(user.sector.name, public_sector_path(user.sector) %>
        </td>
        <td>
          <% if user.is_admin? %>
              Administrador<br>
          <%end%>
          <% if user.is_committee? %>
              Comissão<br>
          <%else%>
              <% if user.is_secdep? %>
                  Secretário do Departamento<br>
              <%end%>
              <% if user.is_secsector? %>
                  Secretário do Setor<br>
              <%end%>
           <%end%>
        </td>

        <td>
            <div class="btn-group" role="group">
              <%= link_to 'Editar', edit_admin_user_path(user), :class => "btn btn-primary" %>
              <%= link_to 'Apagar', [:admin, user], method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Usuário?' }, :class => "btn btn-danger" %>
            </div>
        </td>


      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>

<br>
