<p>
  <strong>Name:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>É administrador:</strong>
  <% if @user.role?('admin') %> > sim
  <%else%> não
  <%end%>
</p>

<p>
  <strong>É Secretário:</strong>
  <% if @user.role?('secretary') %> > sim
  <%else%> não
  <%end%>
</p>

<p>
  <strong>Comissão:</strong>
  <% if @user.role?('committee') %> > sim
  <%else%> não
  <%end%>
</p>

<p>
  <strong>Department:</strong>
  <%= (@user.department.blank?) ? "None" : link_to(@user.department.name, management_department_path(@user.department)) %>
</p>
