.content {
  // overflow: hidden;
  //overflow-x: visible;
  //overflow-y: hidden;
  background-color: #dfdfdf;
  //min-height: 1024px;

}

.sidebar {
  // float: left;
  padding-top: 80px;
  background-color: #dfdfdf;
}

.main{
  //margin-bottom: -5000px;
  //padding-bottom: 5000px;
  padding-top: 80px;
  background-color: #ffffff;
}

.footer{
  width: 100%;
  background-color: #555555;
}
