<%= form_for([:committee, @season], class:"form-inline") do |f| %>
  <% if @season.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@season.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @season.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @inv_name == 1 %>
    <div class="alert alert-danger">
      Nome já existente.
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome %><br>
    <%= f.text_field :code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :inicio %><br>
    <%= f.date_field :ini, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :fim %><br>
    <%= f.date_field :fim, class: "form-control" %>
  </div>

  <hr>
  <div class="actions" align=center>
    <%= f.submit "Criar", class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>

