<%= render partial: 'shared/management/title',
    locals:{title:"Semestres",span:@seasons.size, new_path:new_committee_season_path}
%>


<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Inicio</th>
      <th>Fim</th>
    </tr>
  </thead>

  <tbody>
    <% @seasons.each do |season| %>
      <tr>
        <td><%= link_to(season.code, [:committee, season]) %></td>
        <td><%= season.ini %></td>
        <td><%= season.fim %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>
