<div class="page-header"><h1>
  <%=@season.code%>
</h1></div>

<td><b>Início: </b> <%= @season.ini %></td><br>
<td><b>Fim: </b> <%= @season.fim %></td><br>

<br><br>
<%= link_to 'Voltar', committee_seasons_path, :class => "btn btn-info btn-lg" %>
