<%= render partial: 'shared/management/title', locals:{title:"Tipos de Sala",span:RoomType.all.size}%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @room_types.each do |room_type| %>
      <tr>
        <td><%= room_type.name %></td>
        <td><%= link_to 'Mostrar', [:management, room_type],:class => "btn btn-default" %></td>
        <td><%= link_to 'Editar', edit_management_room_type_path(room_type), :class => "btn btn-primary"  %></td>
        <td><%= link_to 'Excluir', [:management, room_type], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @room_types %>

<br>

<%= link_to 'Nova Sala', new_management_room_type_path, :class => "btn btn-primary" %>
