<h1><%= @room_type.name %></h1>


<h2> Lista de Salas <span class="badge"><%=@room_type.rooms.size%></span></h2>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Bloco</th>
      <th>Tamanho</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @room_type.rooms.each do |room| %>
      <tr>
        <td><%= room.code %></td>
        <td><%= (room.block.blank?) ? "None" : link_to(room.block.code, management_block_path(room.block)) %></td>
        <td><%= room.size %></td>
        <td><%= link_to 'Editar', edit_management_room_path(room), :class => "btn btn-primary"  %></td>
        <td><%= link_to 'Excluir', [:management, room], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>





<%= link_to 'Editar', edit_management_room_type_path(@room_type) %> |
<%= link_to 'Voltar', management_room_type_path %>
