<% if !local_assigns.has_key? :with_page; with_page = false; end%>

<%if with_page%>
  <%= paginate pkg %>
<%end%>


<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th width="30%">Disciplina</th>
      <th>Periodo</th>
      <th>Tamanho</th>
      <th>Curso</th>
      <th>Horarios</th>
      <th>Sala</th>

    </tr>
  </thead>

  <tbody>
    <% pkg.each do |klass| %>

      <tr>
        <%if klass.subject.blank? %>
            <td> None </td>
            <td> None </td>
        <%else%>
            <td><%= link_to(klass.name.gsub(";","<br>").html_safe, [:public, klass]) %></td>
            <td><%= link_to(klass.subject.name, public_subject_path(klass.subject)) %></td>
        <%end%>
        <td><%= (klass.season.blank?) ? "None" : klass.season.code %></td>

        <td><%= klass.vacancy %></td>
        <td><%= (klass.course.blank?) ? "None" : link_to(klass.course.name,[:public,klass.course]) %></td>

        <td>
            <%klass.schedules.each do |sched|%>
                <%=sched.to_s%><br>
            <%end%>
         </td>
         <td>
             <%klass.schedules.each do |sched|%>
                <%= (sched.room.blank?) ? "-" : sched.room.code %><br>
            <%end%>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%if with_page%>
  <%= paginate pkg %>
<%end%>
