<% if !local_assigns.has_key? :with_page; with_page = false; end%>

<%if with_page%>
  <%= paginate pkg %>
<%end%>



<div id="requireroom_status"></div>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th width="20%">Disciplina</th>
      <th>Periodo</th>
      <th>Vaga</th>
      <th>Curso</th>
      <th>Professor</th>
      <th>Horarios</th>
      <th>Sugestão</th>
      <th>Sala</th>
    </tr>
  </thead>

  <tbody>
    <% pkg.each do |klass| %>

      <tr>
        <%if klass.subject.blank? %>
            <td> None </td>
            <td> None </td>
        <%else%>
            <td><%= link_to(klass.name.gsub(";","<br>").html_safe, [role, klass]) %></td>
            <td><%= link_to(klass.subject.name, [role,klass.subject]) %></td>
        <%end%>
        <td><%= (klass.season.blank?) ? "None" : klass.season.code %></td>

        <td><%= klass.vacancy %></td>
        <td>
          <%if klass.is_join?%>
            <%klass.klasses.each do |son|%>
            <%= (son.course.blank?) ? "None" : link_to(son.course.name,[role,son.course]) %><br>
            <%end%>
          <%else%>
            <%= (klass.course.blank?) ? "None" : link_to(klass.course.name,[role,klass.course]) %>
          <%end%>

        </td>


         <td><%=klass.professor_name%></td>

        <%schedules = klass.schedules.order(:weekday)%>
        <td>
            <%schedules.each do |sched|%>
                <%checked = sched.requireroom ? "checked" : ""%>
                <input type="checkbox" value=<%=sched.id%> onchange="setRequireRoom(this)" <%=checked%> >
                <%=sched.to_s%><br>
            <%end%>
         </td>

         <td><%schedules.each do |sched|%>
            <%= (sched.suggested.blank?) ? "-" : sched.suggested.code %><br>
         <%end%></td>

         <td>
             <%schedules.each do |sched|%>
                <%= (sched.room.blank?) ? "-" : sched.room.code %><br>
            <%end%>
          </td>
          <td><%=edit_buttons(role,klass)%></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%if with_page%>
  <%= paginate pkg %>
<%end%>


<script>
function setRequireRoom(element){
    var status = document.getElementById("requireroom_status");
    require = element.checked ? 't' : 'f';
    var xhttp = new XMLHttpRequest();
    xhttp.timeout = 3000;
    status.innerHTML = "Enviando dados..."
    xhttp.onreadystatechange = function(responseTxt, statusTxt, xhr) {
        if ( xhttp.readyState == 4 ){
          if ( xhttp.status == 200) {
            status.innerHTML = JSON.parse(xhttp.responseText).status
          } else {
              status.innerHTML = "Error{code="+xhttp.status+";msg='não foi possivel enviar os dados'}"
          }
        }
    };

    xhttp.ontimeout = function (e) {
        status.innerHTML = "Error{msg='não foi possivel enviar os dados'}"
    }

    url = "/secdep/setrequireroom.json?id=" + element.value + "&value=" + require
    console.log( url )
    xhttp.open("GET", url, true);
    xhttp.send();
}
</script>
