<%= form_for([:management, @department]) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <div class="alert alert-warning" role="alert">Evite alterar o nome do departamento, pois ele é no arquivo do SIE para carregar as informações de cada semestre</div>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :setor %><br>
    <%= f.collection_select :sector_id, Sector.all, :id, :name, {include_blank: 'Selecione o Setor'}, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= f.label :centro_geografico %><br>
    <%= f.collection_select :block_id, Block.all, :id, :code, {include_blank: 'Selecione o Centro Geografico'}, {class: 'form-control'} %>
  </div>


  <hr>
  <div class="actions" align=center>
    <%= f.submit "Salvar", class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
