<%= render partial: 'shared/management/title', locals:{title:"Departamento",span:@departments.size}%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Nome</th>
      <th> Centro Geografico </th>
      <th> Status </th>

    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= link_to(department.name, [:public, department]) %> </td>

        <td> <%=(department.block.blank?)? "None" : department.block.code%> </td>

        <td>
          <%if department.is_modifying%>
              <p class="bg-danger"> Alterando </p>
          <%else%>
              <p class="bg-success"> Ok </p>
          <%end%>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if is_writable%>
  <%= link_to 'Novo Departamento', new_management_department_path , :class => "btn btn-primary"%>
<%end%>
