<div class="page-header"><h1>
  <%=@department.name%>
  <%if current_user.role?('admin') || current_user.role?('committee')%>
      <%= link_to 'Editar', edit_management_department_path(@department),class:"btn btn-primary btn-lg pull-right" %>
  <%end%>
</h1></div>


<h3> Cursos </h3>
<%@department.courses.each do |course|%>
  <%=link_to course.code,[:management, course]%><br>
<%end%>

<h3> Centro Geografico </h3>


<h3> Secretários </h3>
<table class="table table-bordered">
  <thead><tr><th> Email </th><th> Tipo </th></tr></thead>
  <tbody>
    <%@department.users.each do |user|%>
      <tr><td><%=user.email%></td><td></td></tr>
    <%end%>
  </tbody>
</table>


<h3> Tabela de Turmas </h3>
< % = render partial: "shared/management/matrix", locals: { matrix: @matrix } % >



<h3> Disciplinas </h3>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Tipo de Sala</th>
      <th>Curso</th>
      <th colspan="2"></th>
    </tr>
  </thead>

<tbody>
  <% @subjects.each do |subject| %>
	<tr>
	  <td><%= subject.code %></td>
	  <td><%= link_to subject.name, [:management, subject] %></td>
    <td><% if subject.room_type.blank? %>
        <a href="/management/subjects/<%=subject.id%>/edit"> não precisa </a>
    <%else%>
      <a href="/management/subjects/<%=subject.id%>/edit"> <%=subject.room_type.name%> </a>
    <%end%></td>
    <td><%=  %></td>

    <% if current_user.role?('secretary') && current_user.department == @department %>
    <td><%= link_to 'Editar', edit_management_subject_path(subject), :class => "btn btn-primary"  %></td>
    <td><%= link_to 'Excluir', [:management, subject], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
    <%end%>
    <% if current_user.role?('admin') || current_user.role?('committee')%>
    <td><%= link_to 'Editar', edit_management_subject_path(subject), :class => "btn btn-primary"  %></td>
    <td><%= link_to 'Excluir', [:management, subject], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
    <%end%>
  </tr>
  <% end %>
</tbody>
</table>
<%= paginate @subjects %>
