<h1>Desenvolvedores</h1>

<div class="row">
<%@developers.each do |dev|%>
    <div class="col-md-3">
        <img class="img-thumbnail" src="<%=dev["photo"]%>" width=160/>
        <h3><%=dev["name"]%></h3>
		<b>Email: </b> <%=dev["email"]%> <br>
		<b>Atividade: </b> <%=dev["ini"]%> - <%=dev["end"]%>
    </div>
<%end%>
</div>
