<%= render partial: 'shared/management/title', locals:{title:"Tipos de Sala",span:RoomType.all.size}%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
    </tr>
  </thead>

  <tbody>
    <% @room_types.each do |room_type| %>
      <tr>
        <td><%=link_to room_type.name, [:public, room_type]%></td>
        <td><%=room_type.rooms.size%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
