<h1><%= @room_type.name %></h1>


<h2> Lista de Salas <span class="badge"><%=@room_type.rooms.size%></span></h2>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Bloco</th>
      <th>Tamanho</th>
    </tr>
  </thead>

  <tbody>
    <% @room_type.rooms.order("LOWER(code)").each do |room| %>
      <tr>
        <td><%= room.code %></td>
        <td><%= (room.block.blank?) ? "None" : link_to(room.block.code, public_block_path(room.block)) %></td>
        <td><%= room.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
