<%= form_for([:committee, @room_type]) do |f| %>
  <% if @room_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room_type.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div><hr>

  <div class="actions">
    <%= f.submit "Salvar", class:"btn btn-primary"%>
  </div>
<% end %>
