<%= render partial: 'shared/management/title', locals:{
  title:"Tipos de Sala",span:RoomType.all.size,
  new_path: new_committee_room_type_path
}%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Quantidade</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @room_types.each do |room_type| %>
      <tr>
        <td><%= link_to room_type.name,[:committee, room_type] %></td>
        <td><%= room_type.rooms.size %></td>
        <td><%=edit_buttons(:committee, room_type)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @room_types %>
