<%= render partial: 'shared/management/title', locals:{
  title:@room_type.name,
  edit_path: [:edit,:committee,@room_type]
}%>


<h1><%= @room_type.name %></h1>


<h2> Lista de Salas <span class="badge"><%=@room_type.rooms.size%></span></h2>

<%= render partial: 'shared/rooms/showpkg_editable',
  locals:{pkg:@room_type.rooms, role:"committee"}
%>
