<%= render partial: 'shared/management/title', locals:{title:"Departamentos",span:@departments.size}%>

<%= render partial: 'shared/departments/showpkg', locals:{klasscount:@klasscount,pkg:@departments,with_page:true}%>
