<div class="page-header"><h1>
  <%=@department.name%>
</h1></div>


<h3> Oferta de Disciplinas para os seguintes Cursos </h3>
<%= render partial: 'shared/courses/showpkg', locals:{pkg:@department.courses}%>

<h3> Disciplinas </h3>
<%= render partial: 'shared/subjects/showpkg', locals:{pkg:@department.subjects.allFathers.order(:code)}%>

<h3> Professores </h3>
<%= render partial: 'shared/professors/showpkg', locals:{pkg:@department.professors.order(:name)}%>
