
<%= form_for([:secdep, sched]) do |f| %>
    <div class="col-md-1"><%= f.number_field :weekday, class:"form-control", min:2, max:7 %></div>
    <div class="col-md-2"><%= f.time_field   :ini, class:"form-control", value:sched.ini_text %></div>
    <div class="col-md-2"><%= f.time_field   :end, class:"form-control", value:sched.end_text %></div>
    <div class="col-md-2"><%= f.collection_select :suggested_id, Room.all, :id, :select_view, {include_blank: 'Nenhuma Sala'}, {class:"form-control"}%></div>
    <div class="col-md-2"><%= f.collection_select :room_id, sched.free_rooms, :id, :select_view, {include_blank: 'Nenhuma Sala'}, {class:"form-control"}%></div>
    <div class="col-md-3">
      <%= f.submit "Atualizar", class:"btn btn-primary"  %>
      <%= link_to 'Excluir', [:secdep, sched], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %>
    </div>
<% end %>
