<%= render partial: 'shared/management/title', locals:{title:"Alteração de Turma"}%>

  <%= render 'form' %>
<h1> Horarios </h1>

<div class="row">
    <b>
    <div class="col-md-1"> Dia </div>
    <div class="col-md-2"> Início </div>
    <div class="col-md-2"> Fim </div>
    <div class="col-md-2"> Sugestão de Sala </div>
    <div class="col-md-2"> Sala Alocada</div>
    <div class="col-md-3"> Ações </div>
    </b>
    <br>

    <%@klass.schedules.order("weekday").each do |sched|%>
      <%= render :partial => "formsched", :locals => { sched: sched } %>
      <br>
    <%end%>
</div>

<hr><div align="center">
  <%= link_to "Novo", "/secdep/addschedule?klass_id=#{@klass.id}", class:"btn btn-primary btn-lg" %>
</div>

<%= link_to 'Voltar', :back, :class => "btn btn-info btn-lg" %>
