<%= render partial: 'shared/management/title', locals:{title:"Turmas",
  new_path: [:new,:committee,:klass]
}%>

<%= paginate @klasses %>  

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th width="30%">Disciplina</th>
      <th>Turma</th>
      <th>Vagas</th>
      <th>Curso</th>
      <th>Horarios</th>
      <th>Sala</th>

    </tr>
  </thead>

  <tbody>
    <% @klasses.each do |klass| %>

      <tr>
        <%if klass.subject.blank? %>
            <td> None </td>
            <td> None </td>
        <%else%>
            <td><%= link_to(klass.subject.code, committee_subject_path(klass.subject)) %></td>
            <td><%= klass.subject.name %></td>
        <%end%>
        <td><%= klass.code %></td>
        <td><%= klass.vacancy %></td>

        <td><%= (klass.course.blank?) ? "None" : klass.course.name %></td>

        <%schedules = klass.schedules.order(:weekday)%>
         <td>
            <%schedules.each do |sched|%>
                <%checked = sched.requireroom ? "checked" : ""%>
                <input type="checkbox" value=<%=sched.id%> onchange="setRequireRoom(this)" <%=checked%> >
                <%=sched.to_s%><br>
            <%end%>
         </td>
         <td>
             <%klass.schedules.each do |sched|%>
                <%= (sched.room.blank?) ? "-" : sched.room.code %><br>
            <%end%>
          </td>
        <td><%=edit_buttons(:committee,klass)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @klasses %>
