<!-- New Klass
<div class="page-header">
  <h1>Nova Turma</h1>
</div>
-->
<%= render partial: 'shared/management/title', locals:{title:"Nova Turma"}%>

<%= render 'form' %>

<%= link_to 'Voltar', :back, :class => "btn btn-info btn-lg"%>
