<p>
  <strong>Code:</strong>
  <%= @klass.code %>
</p>

<p>
  <strong>Vacancy:</strong>
  <%= @klass.vacancy %>
</p>


<p>
  <strong>Subject:</strong>
  <%= @klass.subject.name %>
</p>


<%= link_to 'Editar', edit_committee_klass_path(@klass) %> |
<%= link_to 'Voltar', committee_klasses_path %>
