<% if !local_assigns.has_key? :with_page; with_page = false; end%>

<%if with_page%>
  <%= paginate pkg %>
<%end%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th><a style="text-decoration: none; color: #333333;" href="/committee/rooms?sortBy=code">Código</a></th>
      <th><a style="text-decoration: none; color: #333333;" href="/committee/rooms?sortBy=block">Bloco</a></th>
      <th><a style="text-decoration: none; color: #333333;" href="/committee/rooms?sortBy=size">Tamanho</a></th>
      <th><a style="text-decoration: none; color: #333333;" href="/committee/rooms?sortBy=roomType">Tipo de Sala</a></th>
      <th><a style="text-decoration: none; color: #333333;" href="/committee/rooms?sortBy=canUse">Para aula?</a></th>
      <th><a style="text-decoration: none; color: #333333;" href="/committee/rooms?sortBy=info">Informações Adicionais</a></th>
    </tr>
  </thead>

  <tbody>
    <% pkg.each do |room| %>
      <tr>
        <td><%= link_to(room.code,[role,room]) %></td>
        <td><%= (room.block.blank?) ? "None" : link_to(room.block.code, public_block_path(room.block)) %></td>
        <td><%= room.size %></td>
        <td><%= (room.room_type.blank?) ? "None" : link_to(room.room_type.name, public_room_type_path(room.room_type)) %></td>
        <td><%= (room.can_use) ? "Sim" : "Não" %></td>
        <td><%= room.information %></td>

        <td><%=edit_buttons(role,room)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%if with_page%>
  <%= paginate pkg %>
<%end%>
