<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th></th>
      <th>Seg</th>
      <th>Ter</th>
      <th>Qua</th>
      <th>Qui</th>
      <th>Sex</th>
      <th>Sab</th>
      <th>Dom</th>
    </tr>
  </thead>

  <tbody>
    <%hora=7%>
    <%min=30%>
    <% pkg.each do |klasspkg| %>
      <tr>
        <td><%=hora%>:<%=min%></td>
        <% klasspkg.each do |klass| %>
          <%if klass.present?%>
            <td><%= link_to(klass.name,[:public,klass]) %></td>
          <%else%>
            <td></td>
          <%end%>
        <%end%>
        <%hora+=1%>
      </tr>
    <% end %>
  </tbody>
</table>
