

  <%= form_for([:committee, @subject]) do |f| %>

    <% if @subject.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this discipline from being saved:</h2>

        <ul>
        <% @subject.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <%= f.label :code %><br>
          <%= f.text_field :code, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class:"form-control" %>
    </div>

    <br>

    <div class="field">
      <%= f.label "Departamento" %><br>
      <%= f.collection_select :department_id, Department.all, :id, :name, {class:"form-control"} %>
    </div>

    <br>

    <div class="field">
      <%= f.label "Tipo de Sala" %><br>
      <%= f.collection_select :room_type_id, RoomType.all, :id, :name, {include_blank: 'não precisa'}, {class:"form-control"} %>
    </div>
    <br>
    <div class="actions" align="center">
      <%= f.submit "Salvar", class:"btn btn-primary"%>
    </div>
  <% end %>
