<% if !local_assigns.has_key? :with_page; with_page = false; end%>
<% if !local_assigns.has_key? :with_search; with_search = false; end%>

<%= render partial: 'shared/management/title', locals:{
    title:"Disciplinas",
    span:Subject.allFathers.size,
    new_path: [:new,:committee,:subject]
}%>

<%= render partial: 'shared/subjects/showpkg_editable', locals:{pkg:@subjects,with_page:true,with_search:true, role:"committee"}%>
