
<h2>  <%=@subject.code%> - <%=@subject.name%> </h2><hr>


<h2> Turmas <small id="requireroom_status"></small> </h2>
<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Turma</th>
      <th>Vagas</th>
      <th>Tipo de Sala</th>
      <th>Curso</th>
      <th>Horarios</th>
      <th>Salas</th>
    </tr>
  </thead>

  <% @klasses.each do |klass| %>
    <tr>
      <td>
        <%= klass.subject.code%>

      <td>


          <%if klass.is_join%>
            <%klass.klasses.each do |son|%>
                <%=son.code%><br>
            <%end%>
          <%else%>
            <%= klass.code %>
          <%end%>

      </td>
      <td><%= klass.vacancy %></td>

      <td><% if klass.subject.room_type.blank? %>
             não precisa
        <%else%>
          <%=klass.subject.room_type.name%>
        <%end%>
      </td>

      <td>
          <%if klass.is_join%>
            <%klass.klasses.each do |son|%>
                <%=son.course.name%><br>
            <%end%>
          <%else%>
            <% if klass.course.present? %>
              <%=klass.course.name%>
            <%end%>
          <%end%>
      </td>


	  <td>
          <%schedules=klass.schedules.order("weekday")%>
          <%schedules.each do |sched|%>
              <%checked = sched.requireroom ? "checked" : ""%>
              <input type="checkbox" value=<%=sched.id%> onchange="setRequireRoom(this)" <%=checked%> > :
              <%=sched.weekday%>º -
              <%=sched.ini.hour%>:<%=sched.ini.min%> -
              <%=sched.end.hour%>:<%=sched.end.min%>
              <br>
          <%end%>
      </td>

      <td>
          <%schedules.each do |sched|%>
            <%= (sched.room.blank?) ? "-" : sched.room.code %><br>
          <%end%>
      </td>

      <td>
          <%= link_to 'Editar', edit_committee_klass_path(klass), :class => "btn btn-default"  %>


          <%if klass.is_join%>
             <%= link_to 'Dividir', [:committee, klass], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %>
          <%else%>
             <%= link_to 'Excluir', [:committee, klass], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %>
          <%end%>


      </td>
    </tr>
  <% end %>


</tbody>
</table>


<br>
<% subject_send = { :subject_id => @subject.id } %>
<%= link_to 'Nova Turma', new_committee_klass_path(subject_send), :class => "btn btn-primary" %> |
<%= link_to 'Apagar todas', "/management/klasses", method:"delete", data: { confirm: 'Are you sure?' },  :class => "btn btn-danger" %>



<script>
function setRequireRoom(element){
    var status = document.getElementById("requireroom_status");
    require = element.checked ? 't' : 'f';
    var xhttp = new XMLHttpRequest();
    xhttp.timeout = 3000;
    xhttp.onreadystatechange = function(responseTxt, statusTxt, xhr) {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
            status.innerHTML = JSON.parse(xhttp.responseText).status
        } else {
            status.innerHTML = "Enviando dados..."
        }
    };

    xhttp.ontimeout = function (e) {
        status.innerHTML = "[ERRO] : não foi possivel enviar os dados"
    }

    url = "/management/schedules/" + element.value + "/set_require_room?format=json&value=" + require
    console.log( url )
    xhttp.open("GET", url, true);
    xhttp.send();
}
</script>
