<%= render partial: 'shared/management/title', locals:{title:"Equivalencias de Disciplinas"}%>


<%= form_tag(method: "post") do %>
  <%= label_tag(:nom, "Disciplina A") %>
  <%= text_field_tag(:nom) %>

  <%= label_tag(:akk, "Disciplina B") %>
  <%= text_field_tag(:akk) %>

  <%= submit_tag("Equivalentes") %>
<% end %><br><br>



<%@equivalences.each do |equi|%>
    <table class="table"><tr>
        <tr>
            <th><%=equi.code%></th>
            <th><div align="right"><%=link_to "excluir","del_equivalence?id="+equi.id.to_s%></div></th>
        </tr>
        <%equi.subjects.each do |subj|%>
            <tr>
                <td><%=subj.code%></td>
                <td><%=subj.name%></td>
            <tr>
        <%end%>
    </tr></table><br>
<%end%>
