<%= render partial: 'shared/management/title',
    locals:{title:"Professores-Turmas",new_path: new_secdep_klass_path }
%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th width="30%">Disciplina</th>
      <th>Professor</th>

    </tr>
  </thead>

  <tbody>
    <% @klasses.each do |klass| %>

      <tr>
        <%if klass.subject.blank? %>
            <td> None </td>
            <td> None </td>
        <%else%>
            <td><%= link_to(klass.name, [:secdep, klass]) %></td>
            <td><%= link_to(klass.subject.name, [:secdep, klass.subject]) %></td>
        <%end%>

        <td>
        <div id="professor<%= klass.id %>">
          <%= (klass.professor.blank?) ? "-" : link_to(klass.professor.name, [:secdep, klass.professor])%>
          <!-- < %= klass.professor_id %> -->
        </div>
        </td>

        <td>
          <% schedules=klass.schedules.order("weekday","ini")%>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_professor_change" data-whatever="11">Edit</button></br>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<div class="modal fade" id="modal_professor_change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Alterar Professor</h4>
      </div>
      <div class="modal-body">
          <%= form_tag("/search", method: "get") do %>
            <%= label_tag(:q, "Professor") %><br>
            <%= collection_select( :professor, :id, current_user.department.professors, :id, :name, class:"control-form " )%>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>





  <script>
  function getResult(recipient) {
    var result = null;
    var contin = 1;
    return result;
  }


  function getProfessor(recipient) {

    return result;
  }


  $('#trocaSalas').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var all = button.data('whatever') // Extract info from data-* attributes

    // Getting sched.id and klass.subject.name
    var recipient = all.split("~")[0];
    var name = all.split("~")[1];
    document.getElementById('recipient-name_select').setAttribute('id', recipient);
    document.getElementById('submitButton').setAttribute('value', all);
    console.log(recipient, name);

    // Search in db and return a json of the data with sched.id
    var result = getResult(recipient);
    console.log(result);

    //var text = result.weekday + "º - " + ((result.ini).split("T")[1]).split(".")[0] + " ~ " + ((result.end).split("T")[1]).split(".")[0];
    //console.log(text);
    var text = "hue";

    var modal = $(this)
    modal.find('.modal-title').text(name)
    modal.find('.modal-body input').val(text)

    var professor_id = (result.professor_id);
    $.fn.modal.Constructor.prototype.enforceFocus = function() { modal.find('.modal-body select').val(professor_id); };

    var select_klass = "select#" + recipient;
    var select_klass_option = "select#" + recipient + " option";

    $.ajax({
      dataType: "json",
      cache: false,
      //url: '/management/spreadsheets/query?id=%QUERY&format=json',
      url: '/management/spreadsheets/queryProf.json',
      timeout: 2000,
      error: function(XMLHttpRequest, errorTextStatus, error) {
        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
      },
      success: function(data) {
        // Clear all options from sub category select
        $(select_klass_option).remove();
        console.log(select_klass);

        //put in a empty default line
        var row = "<option value=\"" + "" + "\">" + "Sem Docente" + "</option>";
        $(row).appendTo(select_klass);

        // // Fill sub category select
        console.log(data.length);
        for (i = 0; i < data.length; i++ ) {
          row = "<option value=\"" + data[i].id + "\">" + data[i].name  + "</option>";
          $(row).appendTo(select_klass);
        }
        //console.log(data);
      }

    });


  });

  var value;
  function updatevariable(data) {
        value = data;
        //alert(value);
    }

  $(document).on('change', '.klassChange_all', function() {
    console.log("entrou .klassChange_all");
    var value_now = $(this).val();
    updatevariable(value_now);
    //alert(value_now);
  });


  $('#submitButton').on('click', function(event) {
    var all = $(this).val();
    console.log(all);

    event.preventDefault(); // To prevent following the link (optional)

    var recipient = all.split("~")[0];
    var name = all.split("~")[1];
    var result = getResult(recipient);

    var select_klass = "select#" + recipient + " :selected";
    var temp = $(select_klass).val();

    // temp vazio na segunda vez. Uai?
    console.log("Temp = ", temp);
    console.log("VALUE = ", value);

    $.post('/management/spreadsheets/changeProf_query',{id: recipient, prof_old: result.professor_id, prof_new: value});

    var idToChange = 'professor' + recipient;
    console.log(idToChange);
    var new_klass = getProfessor(value);
    console.log(new_klass);
    document.getElementById(idToChange).innerHTML = new_klass;

  });

  </script>
