<h1> Secretario de Departamento <%@cur_user.department.name%></h1>

<h3>Cronograma</h3>
<ul>
  <li>Até 10/02/2017 - Alteração das Turmas no Portal do SIE</li>
  <li>Até 14/02/2017 - Agrupamento e modificações de Turmas no Portal do Ensalamento</li>
</ul>


<h3>Poderes</h3>

<li>Abrir para alterações</li>
<li>Gerenciar Turmas</li>
  Criar/Apagar turmas do departamento
  Editar
    Editar atributos de turmas
      Selecionar o professor para um turma
    Colocar sugestão de sala para o ensalamento
    Alterar a sala alocada

<li>Criar equivalências</li>
<li>Agrupar turmas</li>
<li>Concluir alterações</li>
