<%= render partial: 'shared/management/title', locals:{title:"Estatísticas"}%>

<h2> Departamento de <%=@cur_user.department.name%></h2>
<%= render partial: 'shared/management/matrix', locals:{matrix:@matrix}%>

<h2>Outros Setores</h2>
<!-- <h2> Outros Departamentos </h2> -->

<form method="GET" action="">
  <%Sector.all.each do |sector|%>
    <input type=checkbox name="sectors[]" value=<%=sector.id%> > <%=sector.name%><br>
  <%end%>
  <input type="submit">
</form>

<%if @others.present?%>
  <%= render partial: 'shared/management/matrix', locals:{matrix:@others}%>
<%end%>
