
<div class="col-sm-offset-3 col-sm-6"><div class="panel panel-default"><div class="panel-body">

<h2>Editar Usuário</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Senha %> <i>(necessário sua senha atual para salvar as alterações)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
  </div>


  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :email, autofocus: true, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :Nova_Senha %> <i>(deixe em branco caso não queira alterar)</i><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :Confirmar_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
  </div>

  <br>
  <div class="actions" align="center">
    <%= link_to "Voltar", :back, :class => "btn btn-default btn-lg" %>
    <%= f.submit "Atualizar", :class => "btn btn-success btn-lg float-right" %>
  </div>
<% end %>



</div></div></div>
