<script type="text/javascript">
	<!--
	function showMe (it, box) {
	  var vis = (box.checked) ? "block" : "none";
	  document.getElementById(it).style.display = vis;
	}
	//-->
</script>

<%= @dados %>

<%= form_for([:management, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>
	  <% if current_user.role?('admin')%>
  <div class="field">
    <%= f.check_box :eh_admin%><%= f.label :É_administrador %>
  </div>
	<%end%>
  <div class="field">
    <%= f.check_box :secretary%><%= f.label :É_secretário %>
  </div>
	<% if current_user.role?('admin')%>
  <div class="field">
    <%= f.check_box :committee%><%= f.label :É_Comissão %>
  </div>
	<%end%>
  <div class="field">

    <%= f.collection_select :department_id, Department.all, :id, :name, {include_blank: 'Selecione o Departamento'}, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= f.label :senha %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
