<%= render partial: 'shared/management/title', locals:{title:"Usuarios",span:User.all.size}%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Email</th>
      <th>Departamento</th>
      <th>Usuário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >

    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.department.blank?) ? "---" : link_to(user.department.name, management_department_path(user.department) %></td>
        <td>
          <% if user.role?('admin') %>
              Administrador
          <%end%>
          <% if user.role?('committee') %>
              Comissão
          <%end%>
          <% if user.role?('secretary') %>
              Secretário
          <%end%>
        </td>
        <td><%= link_to 'Mostrar', [:management, user], :class => "btn btn-default" %></td>
        <% if current_user.role?('admin')%>
          <td><%= link_to 'Editar', edit_management_user_path(user), :class => "btn btn-primary" %></td>
          <td><%= link_to 'Excluir', [:management, user], method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Usuário?' }, :class => "btn btn-danger" %></td>
        <%end%>
        <% if current_user.role?('committee') && current_user.department == user.department && user.role?('secretary')%>
            <td><%= link_to 'Editar', edit_management_user_path(user), :class => "btn btn-primary" %></td>
            <td><%= link_to 'Excluir', [:management, user], method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Usuário?' }, :class => "btn btn-danger" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>

<br>
  <% if current_user.role?('admin') || current_user.role?('committee') %>
  <%= link_to 'Novo Usuário', new_management_user_path, :class => "btn btn-primary"%>
  <%end%>
