<%= form_for([:management, @room]) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Codigo %><br>
    <%= f.text_field :code, class: "form-control" %>
  </div>
  <div class="field">

  </div>
  <div class="field">
    <%= f.label :Tamanho %><br>
    <%= f.number_field :size, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :informações_Adicionais %><br>
    <%= f.text_field :information, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :bloco %><br>
    <%=f.collection_select :block_id, Block.all, :id, :code, {}, class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :tipo_de_sala %><br>
    <%=f.collection_select :room_type_id, RoomType.all, :id, :name, {include_blank: 'Não usar para ensalamento'}, class: "form-control"%>
</div><hr>

  <div class="actions" align="center">
      <div class="field">
        <%= f.check_box :can_use? %><%=f.label :pode_ser_usada_pelo_ensalamento %>
      </div>
      <%= f.submit "Salvar", class:"btn btn-primary btn-lg"%>
  </div>
<% end %>
