<%= render partial: 'shared/management/title', locals:{title:"Salas",span:Room.all.size}%>
<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Bloco</th>
      <th>Tamanho</th>
      <th>Tipo de Sala</th>
      <th>Informações Adicionais</th>
      <th>Ensalamento</th>
      <%if is_writable%>
      <th colspan="2"></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.code %></td>
        <td><%= (room.block.blank?) ? "None" : link_to(room.block.code, management_block_path(room.block)) %></td>

        <td><%= room.size %></td>
        <td><%= (room.room_type.blank?) ? "None" : link_to(room.room_type.name, management_room_type_path(room.room_type)) %></td>
        <td><%= room.information %></td>
        <td><%= (room.can_use) ? "Sim" : "Não"%></td>
      <%if is_writable%>
        <td><%= link_to 'Editar', edit_management_room_path(room), :class => "btn btn-primary"  %></td>
        <td><%= link_to 'Excluir', [:management, room], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @rooms %>

<br>

<%if is_writable%>
  <%= link_to 'Nova Sala', new_management_room_path, :class => "btn btn-primary" %>
<%end%>
