<p>
  <strong>Code:</strong>
  <%= @room.code %>
</p>

<p>
  <strong>Block:</strong>
  <%= @room.block.code %>
</p>

<p>
  <strong>Size:</strong>
  <%= @room.size %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @room.sector %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @room.variety %>
</p>

<%= link_to 'Editar', edit_management_room_path(@room) %> |
<%= link_to 'Voltar', management_rooms_path %>
