<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th width=10px></th>
      <th>2º</th>
      <th>3º</th>
      <th>4º</th>
      <th>5º</th>
      <th>6º</th>
      <th>Sábado</th>
    </tr>
  </thead>
  <tbody>
    <%for hour in 7..matrix.size-1%>
        <%cols=matrix.data[hour].size%>
        <tr><td><%=hour%>:30</td>
            <%for day in 2..cols-1%>
                <td>
                    <%=matrix.data[hour][day]%>
                </td>
            <%end%>
        </tr>
    <%end%>
  </tbody>
</table>
