<!-- Esse arquivo cria o menu lateral da página, ver fim do arquivo para o menu público.
     O resto acima são opções extras dependendo do usuário logado -->
<% if @cur_user.is_admin? %>
    <div class="list-group">
        <span href="#" class="list-group-item active">Administrador</span>
        <%= link_to "Gerenciar Usuarios", admin_users_path, class:"list-group-item" %>
        <%= link_to "Logs", admin_logs_path, class:"list-group-item" %>
    </div>
<%end%>

<% if @cur_user.is_committee? %>
    <div class="list-group">
        <span href="#" class="list-group-item active">Comite</span>
        <%= link_to "Periodos", committee_seasons_path, class:"list-group-item" %>
        <%= link_to "Iniciar Semestre", committee_start_path, class:"list-group-item" %>
        <%= link_to "Gerar Ensalamento",ensalador_root_path, class:"list-group-item" %>
        <%= link_to "Status","/committee/statusdept", class:"list-group-item" %>
    </div>
<%end%>


<%if @cur_user.department.present?%>
    <div class="list-group">
      <span class="list-group-item active"><%=@cur_user.department.name%></span>
      <%if @cur_user.is_admin?%>
          <button type="button" class="list-group-item" data-toggle="modal" data-target="#modal_select_department">
            Selecione o Departamento
          </button>
      <%end%>

      <%if @cur_user.department.is_modifying %>
        <%= link_to "Cursos",secdep_courses_path, class:"list-group-item" %>
        <%= link_to "Disciplinas",secdep_subjects_path, class:"list-group-item" %>
        <%= link_to "Professores",secdep_professors_path, class:"list-group-item" %>
        <%= link_to "Turmas",secdep_klasses_path, class:"list-group-item" %>
        <%= link_to "Equivalencias",secdep_equivalences_path, class:"list-group-item" %>
        <%= link_to "Agrupamento de Turmas","/secdep/operation", class:"list-group-item" %>
        <%= link_to "Estatísticas","/secdep/statistics", class:"list-group-item" %>
        <%= link_to "Concluir","/secdep/close", class:"list-group-item" %>
      <%else%>
        <%= link_to "Abrir para Modificacões","/secdep/open", class:"list-group-item" %>
      <%end%>

    </div>
<%elsif @cur_user.is_admin?%>
    <div class="list-group">
      <span href="#" class="list-group-item active">Departamento</span>
      <button type="button" class="list-group-item" data-toggle="modal" data-target="#modal_select_department">
        Selecione o Departamento
      </button>
    </div>
<%end%>



<%if @cur_user.sector.present?%>
    <div class="list-group">
        <span href="#" class="list-group-item active"><%=@cur_user.sector.name%></span>
        <%if @cur_user.is_admin?%>
          <button type="button" class="list-group-item" data-toggle="modal" data-target="#modal_select_sector">
            Selecione o Setor
          </button>
        <%end%>
        <%= link_to "Blocos",secsector_blocks_path, class:"list-group-item" %>
        <%= link_to "Salas",secsector_rooms_path, class:"list-group-item" %>
        <%= link_to "Turmas",secsector_klasses_path, class:"list-group-item" %>
        <%= link_to "Departamentos",secsector_departments_path, class:"list-group-item" %>
        <%= link_to "Autorização de Reservas",secsector_appointments_path, class:"list-group-item" %>
    </div>
<%elsif @cur_user.is_admin?%>
    <div class="list-group">
        <span href="#" class="list-group-item active">Setor</span>
        <button type="button" class="list-group-item" data-toggle="modal" data-target="#modal_select_sector">
          Selecione o Setor
        </button>
    </div>
<%end%>





<%domain = (@cur_user.is_admin?) ? :committee : :public%>

<!-- Menu lateral público -->
<div class="list-group">
  <span href="#" class="list-group-item active">Informações Públicas</span>
  <%= link_to "Blocos", [domain,:blocks], class:"list-group-item" %>
  <%= link_to "Cursos", [domain,:courses], class:"list-group-item" %>
  <%= link_to "Departamentos", [domain,:departments], class:"list-group-item" %>
  <%= link_to "Disciplinas", [domain,:subjects], class:"list-group-item" %>
  <%= link_to "Professores", [domain,:professors], class:"list-group-item" %>
  <%= link_to "Salas", [domain,:rooms], class:"list-group-item" %>
  <%= link_to "Setores", [domain,:sectors], class:"list-group-item" %>
  <%= link_to "Tipos de Salas", [domain,:room_types], class:"list-group-item" %>
  <%= link_to "Turmas", [domain,:klasses], class:"list-group-item" %>
  <%= link_to "Base de Dados", public_db_path, class:"list-group-item" %>
  <%= link_to "Reserva Esporádica", public_appointments_path, class:"list-group-item" %>
</div>

<!--<div class="list-group">
  <span href="#" class="list-group-item active">Serviços</span>
  < %= link_to "Reservar Sala", new_public_appointment_path, class:"list-group-item" %>
  < %= link_to "Procurar Sala Livre", public_appointments_path, class:"list-group-item" %>
</div> -->






<%if @cur_user.is_admin?%>
<div class="modal fade" id="modal_select_department" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Selecione o Departamento</h4>
      </div>
      <div class="modal-body">
        <p>
            <%= collection_select(:department, :id, Department.all.order(:name), :id, :name, options ={:prompt => "Selecione o Departamento"}, class:"form-control" ) %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" onclick="menu_update('department')">Alterar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_select_sector" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Selecione o Setor</h4>
      </div>
      <div class="modal-body">
        <p>
            <%= collection_select(:sector, :id, Sector.all.order(:name), :id, :name, options ={:prompt => "Selecione o Setor"}, class:"form-control" ) %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" onclick="menu_update('sector')">Alterar</button>
      </div>
    </div>
  </div>
</div>

<script>
function menu_update(type){
    var select_obj = document.getElementById(type+"_id");
    var id = select_obj.options[select_obj.selectedIndex].value;
    $.ajax({
      url: "/admin/select?id="+id+"&type="+type
    }).done(function() {
      location.reload();
    });
}
</script>
<%end%>
