<!-- Esse arquivo gera um título na página conforme colocado na variável title
     Também gera opções de administração caso um admin/manager esteja logado -->
<div class="page-header row"><h1>
    <div class="col-md-10">
        <%=title%>
        <%if defined? span%><span class="badge"><%=span%></span><%end%>
    </div>

    <div class="col-md-2">
    <%if defined? new_path%><%= link_to 'Novo', new_path, :class => "btn btn-lg btn-primary"%><%end%>
    <%if defined? edit_path%><%= link_to 'Editar', edit_path, :class => "btn btn-lg btn-primary"%><%end%>
    <%if defined? del%><%= link_to 'Apagar', del, :class => "btn btn-lg btn-danger"%><%end%>
    </div>
</h1></div>

<% if notice || alert %>
<div class="row"><div class="col-md-12">
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <span class="sr-only">Aviso:</span>
          <%=notice%>
        </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <span class="sr-only">Erro:</span>
        <%=alert%>
      </div>
    <% end %>
</div></div>
<%end%>
