<%= render partial: 'shared/management/title',
    locals:{title:"Blocos",new_path: new_secdep_block_path}
%>

<%= render partial: 'shared/blocks/showpkg_editable', locals:{pkg:@blocks, role:"secdep"}%>
