<%= render partial: 'shared/management/title', locals:{title:"Bloco #{@block.code}"}%>

<p>
  <strong>Setor:</strong>
  <%= (@block.sector.blank?) ? "None" : link_to(@block.sector.name, public_sector_path(@block.sector)) %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @block.latitude %>
  <strong>Longitude:</strong>
  <%= @block.longitude %>
</p>
<br>


<h2>Departamentos<span class="badge"><%=@block.departments.size%></span></h2>
<%= render partial: 'shared/departments/showpkg', locals:{pkg:@block.departments}%>


<h2>Salas<span class="badge"><%=@block.rooms.size%></span></h2>
<%= render partial: 'shared/rooms/showpkg', locals:{pkg:@block.rooms}%>
