<div class="list-group">
  <span href="#" class="list-group-item active">Informações</span>
  <%= link_to "Projeto", about_root_path, class:"list-group-item" %>
</div>


<div class="list-group">
  <span href="#" class="list-group-item active">Documentação para Desenvolvedores</span>
  <%= link_to "Codigo Fonte", "https://gitlab.com/PET-Computacao-UFPR/ensalamento", class:"list-group-item", target:"_blank" %>
  <%= link_to "Licença", about_license_path, class:"list-group-item" %>
  <%= link_to "Munkres", "https://github.com/uberloss/munkres-cpp/", class:"list-group-item" %>
</div>
