<%= render partial: 'shared/management/title', locals:{
    title:"Departamento", span:@departments.size,
    new_path: new_committee_department_path
}%>

<%= render partial: 'shared/departments/showpkg_editable', locals:{klasscount:@klasscount, pkg:@departments, role:"committee", with_page:true}%>
