<%= render partial: 'shared/management/title',
    locals:{title:"Professores",span:@professors.size, new_path:new_secdep_professor_path}
%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Departamento</th>
      <th>Email</th>
      <th>Página</th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= link_to professor.name, [:secdep, professor] %></td>
        <td><%= (professor.department.present?) ? link_to(professor.department.name,[:public,professor.department]) : "none"  %></td>
        <td><%= (professor.email.present?) ? professor.email : ""%> </td>
        <td><%= (professor.web.present?) ? link_to(professor.web,professor.web) : ""%> </td>
        <td>
            <%=link_to "Editar",[:edit,:secdep,professor], class:"btn btn-default"%>
            <%= link_to 'Excluir', [:secdep,professor], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
