<%= render partial: 'shared/management/title',locals:{
    title:@professor.name,
    edit_path: edit_secdep_professor_path,
    del: "aaa"
}%>

<p>
  <strong>Email:</strong>
  <%=@professor.email%> <br>
</p>

<p>
  <strong>Site Pessoal:</strong>
  <%= (@professor.web.present?) ? link_to(@professor.web, @professor.web) : "" %> <br>
</p>

<h2>Turmas</h2>
<%= render partial: 'shared/klasses/showpkg_editable', locals:{pkg:@professor.klasses,role:"secdep"}%>
