<%= form_for([:committee, sched]) do |f| %>
  <% if @klass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@klass.errors.count, "error") %> prohibited this klass from being saved:</h2>

      <ul>
      <% @klass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Inicio %><br>
    <%= f.text_field :ini %>
  </div>

  <%= f.collection_select :room_id, Room.all, :id, :name, {include_blank: 'Selecione a Sala'}, {class: 'selectpicker chosen-select'} %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
