<%= render partial: 'shared/management/title', locals:{title:"Alteração de Sala "}%>

<%=@schedule.klass.subject.name%>

<%=@schedule.to_s%>

<%= form_for([:management, @schedule]) do |f| %>
    <%= f.collection_select :room_id, @schedule.free_rooms, :id, :select_view, {include_blank: 'Nenhuma Sala'}, {class:"form-control"}%><br>
    <%= f.submit class:"btn btn-primary"%>
<%end%>

<br><br><%=link_to "Voltar","/management/spreadsheets/changeroom",class:"btn btn-primary"%>
