
<h1>Ensalador</h1>


<div class="container">
<form  onsubmit="load_data(this);return false;">
  <div class="row"><div class="panel panel-default"><div class="panel-body">
    <div class="col-md-4">
      <h2>Setores</h2>
      <%@sectors.each do |sector|%>
        <input type=checkbox name="sectors" value=<%=sector.id%> > <%=sector.name%><br>
      <%end%>
    </div>
    <div class="col-md-4">
      <h2>Tipos de Salas</h2>
      <%RoomType.all.each do |roomtype|%>
        <input type=checkbox name="roomtypes" value=<%=roomtype.id%> ><%=roomtype.name%><br>
      <%end%>
    </div>
    <div class="col-md-4">
      <h2>Periodos</h2>
      <%Season.all.each do |season|%>
        <input type=checkbox name="seasons" value=<%=season.id%> ><%=season.code%><br>
      <%end%>
    </div>
  </div></div></div>
  <hr>
    <div id="status"></div><br>
    <input type="submit" value="Carregar" class="btn btn-primary">
  <hr>
</form>
</div>




<%= form_tag("/ensalador/execute", method:"post") do %>
  Desativado, quando clica-se em carregar, ele atualiza o arquivo de entrada do ensalador<br>
  < %= text_area_tag(:text,"",size:"150x30",class:"form-control") %><br><br>

  <%= check_box_tag(:prioritize) %> Ensalar turmas de duração maior primeiro<br>
  <%= check_box_tag(:reverse) %> Inverter a ordem de prioridades <br>
  <%= check_box_tag(:yaml) %> Gerar saida em formato YAML<br>
  <%= submit_tag("Gerar") %>
<% end %>


<script>
function getCheckBoxArray(checkbox){
    var vet = []
    for (var i=0, iLen=checkbox.length; i<iLen; i++) {
        if (checkbox[i].checked) {
          vet.push(checkbox[i].value);
        }
    }
    res = ""
    if (vet.length > 0){
      res += vet[0]
      for (var i=1; i<vet.length; i++) {
          res += ","+vet[i]
      }
    }
    return res
}

function load_data(form){
    var sectors   = getCheckBoxArray(form.sectors);
    var roomtypes = getCheckBoxArray(form.roomtypes);
    var seasons   = getCheckBoxArray(form.seasons);
    var url = "/ensalador/data.txt?sectors="+sectors+"&roomtypes="+roomtypes+"&seasons=1";
    console.log(url)
    $('#status').html("Carregando...");
    $.ajax({ cache: false,
        url: url,
        //data: { sectors: [1,2,3] },
        success: function (data) {
            $('textarea#text').html(data);
            $('#status').html("");
        },
        error: function (xhr, textstatus) {
            $('#status').html("Error["+url+"]: "+xhr.responseText);
        }
    });

    /*$.ajax({
      url: url
    }).done(function(data) {
      $("textarea#text").val(data);
      //alert(data)
      //$( this ).addClass( "done" );
    }).fail(function(data) {
      alert("Error");
    })*/
}
</script>
