<%= render partial: 'shared/management/title', locals:{title:"Alteração da Turma #{@klass.name}"}%>

<%= render 'form' %>
<h1> Horarios </h1>

<div class="row">
    <b>
    <div class="col-md-1"> Dia </div>
    <div class="col-md-2"> Início </div>
    <div class="col-md-2"> Fim </div>
    <div class="col-md-4"> Sala Alocada</div>
    <div class="col-md-3"> Ações </div>
    </b>
    <br>

    <%@klass.schedules.order("weekday").each do |sched|%>
      <%= render :partial => "formsched", :locals => { sched: sched } %>
      <br>
    <%end%>
</div>

<hr><div align="center">
  <%= link_to "Novo", "/secdep/addschedule?klass_id=#{@klass.id}", class:"btn btn-primary btn-lg" %>
</div>

<br><br>
<!-- < % last_url = request.referrer %> -->
<!-- < % if !last_url.blank? && last_url.split('/').last != "klasses" %>
  <center>< %= link_to 'Voltar', secdep_subject_path(last_url.split('/').last), :class => "btn btn-info btn-lg" %></center>
< % else %> -->
<%= link_to 'Voltar', secsector_klasses_path, :class => "btn btn-info btn-lg" %>
<!-- < % end %> -->
