<%= render partial: 'shared/management/title',
    locals:{title:"Turmas" }
%>

<%pkg=@klasses%>


<div id="requireroom_status"></div>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th width="20%">Disciplina</th>
      <th>Periodo</th>
      <th>Vaga</th>
      <th>Curso</th>
      <th>Professor</th>
      <th>Horarios</th>
      <th>Sala</th>
    </tr>
  </thead>

  <tbody>
    <% pkg.each do |klass| %>

      <tr>
        <%if klass.subject.blank? %>
            <td> None </td>
            <td> None </td>
        <%else%>
            <td><%= link_to(klass.name.gsub(";","<br>").html_safe, [:secsector, klass]) %></td>
            <td><%= link_to(klass.subject.name, [:public,klass.subject]) %></td>
        <%end%>
        <td><%= (klass.season.blank?) ? "None" : klass.season.code %></td>

        <td><%= klass.vacancy %></td>
        <td>
          <%if klass.is_join?%>
            <%klass.klasses.each do |son|%>
            <%= (son.course.blank?) ? "None" : link_to(son.course.name,[:public,son.course]) %><br>
            <%end%>
          <%else%>
            <%= (klass.course.blank?) ? "None" : link_to(klass.course.name,[:public,klass.course]) %>
          <%end%>

        </td>


         <td><%=klass.professor_name%></td>

        <%schedules = klass.schedules.order(:weekday)%>
        <td>
            <%schedules.each do |sched|%>
                <%=sched.to_s%><br>
            <%end%>
         </td>

         <td>
             <%schedules.each do |sched|%>
                <%= (sched.room.blank?) ? "-" : sched.room.code %><br>
            <%end%>
          </td>
          <td><%=edit_buttons(:secsector,klass)%></td>

      </tr>
    <% end %>
  </tbody>
</table>
