<%= render partial: 'shared/management/title', locals:{title:"Entidades"}%>
<div class="row">
<%@entities.each do |ent|%>
    <div class="col-md-3">
        <h3><%=link_to ent.name,ent.path%></h3>
    </div>
<%end%>
</div>


<h2>Grafo</h2>
<div class="row">
  <div class="col-md-12">
    <div id="graph"></div>
  </div>
</div>

<style>
  #graph {
    height: 500px;
    width: 100%;
    border:1px solid lightgrey;
  }
</style>

<script language="JavaScript">
    var graph_options = {
    }

    var graph_nodes = [
      <%for i in 1..@entities.size-1%>
        {id: '<%=@entities[i-1].code%>',label:'<%=@entities[i-1].name%>'},
      <%end%>
      {id: '<%=@entities.last.code%>',label:'<%=@entities.last.name%>'}
  ];

    // create an array with edges
    var graph_edges = [
      <%for i in 1..@edges.size-1%>
        {from: '<%=@edges[i-1].from%>',to:'<%=@edges[i-1].to%>',arrows:'to', label:'<%=@edges[i-1].name%>'},
      <%end%>
      {from: '<%=@edges.last.from%>',to:'<%=@edges.last.to%>',arrows:'to', label:'<%=@edges.last.name%>'}
    ];

    // create a network
    var container = document.getElementById('graph');
    var graph = {
      nodes: graph_nodes,
      edges: graph_edges
    };

    var graph = new vis.Network(container, graph, graph_options);
</script>










</div>
