<%= form_for([:public, @appointment]) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :título %><br>
    <%= f.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :requerente %><br>
    <%= f.text_field :requester, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :motivo %><br>
    <%= f.text_field :comment, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :dia %><br>
    <%= f.date_field :day, class:"form-control", :value => Date.today  %>
    <!-- .strftime('%d-%m-%Y') -->
  </div>

  <div class="form-group">
    <%= f.label :inicio %><br>
    <%= f.time_field :start_at, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :fim %><br>
    <%= f.time_field :end_at, class:"form-control" %>
  </div>
 
  <div class="form-group">
    Sala
    <%= f.collection_select :room_id, Room.all.order(:code), :id, :code, {include_blank: 'Selecione o Sala'},{class:"form-control"} %>
  </div>

  <div class="actions">
    <br>
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
