<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <script>

      // Script with html... Shame on me.

      // Load when page is ready
      $(document).ready(function() {

         var todayDate = new Date();
        todayDate.setHours(0,0,0,0);

        // Calendar call
        renderCalendar(todayDate);

        // Select show call
        var query_value = getQueryStringValue("room_id");
        if ( query_value ) {
          showDropdown(query_value);
        }
        else {
          showDropdown("");
        }

        $("select#room_id").change(function() {
            showDropdown($(this).val());
        });

      });

    </script>

  </head>
  <body>


      <%= render partial: 'shared/management/title', locals:{ title:"Reserva Esporádica" }%>

      <div class="container">
    		<form method="get">
    		<div class="row">
    			<div class="panel panel-default" style="background-color: #DDDDDD">
    				<div class="panel-body">
    					<div class="col-sm-12">
    						<label class="control-label">Auditório / Laboratório / Sala :</label>
    					</div>

    					<div class="col-sm-6 marginB10px">
    						<select name="room_id" id="room_id" class="form-control"></select>
    					</div>

    					<div class="col-sm-3 marginB10px">
    						<input type="submit" class="btn btn-primary button" value="Buscar">
    					</div>
    				</div>
    			</div>
        </div>
        </form>

      </div>


    	<div id='calendar'></div>
      <div align="right" style="color:green">Verde: reserva aprovada</div>
      <div align="right" style="color:blue">Azul: aprovação pendente</div>
      <div align="right" style="color:gray">Cinza: aula</div>
      <br></br>


      <div class="col-sm-6 marginB10px">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_new">
          Criar Nova Reserva
        </button>
      </div>


      <div class="modal fade" id="modal_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Reservar Sala</h4>
            </div>
            <div class="modal-body">
              <p>
                  <%= render partial: 'form' %>
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>


      <div id="eventContent" title="Event Details" style="display:none;">
        Início: <span id="startTime"></span><br>
        Fim: <span id="endTime"></span><br>
        Sala: <span id="eventRoom"></span><br><br>
        Requerente/Professor: <span id="eventRequester"></span><br><br>
        <p id="eventInfo"></p>
        <p><strong><a id="eventLink" target="_blank"></a></strong></p>
      </div>


  </body>
</html>
