<%= render partial: 'shared/management/title', locals:{title:"Ensalamento"}%>


<div align="center">
    <form action=<%=management_ensalador_store_path%> >
        <a href=<%=management_ensalador_klasses_path%> class="btn btn-lg btn-primary" target="blank" > Resultado </a>
        <input type="submit" value="Publicar" class="btn btn-lg btn-success">
    </form>
</div><hr>

<h2>Estatisticas Gerais</h2>
<table class="table table-hover">
    <tr>
        <th></th>
        <th>Quantidade</th>
        <th>Média da Distancia</th>
        <th>Media do Espaço livre</th>
        <th>Soma do Espaço livre</th>
    </tr>
    <%@stats.each do |stat|%>
        <tr>
            <th><%=stat.name%></th>
            <td><%=stat.qtde%></td>
            <td><%=stat.dist_mean%></td>
            <td><%=stat.free_mean%></td>
            <td><%=stat.free_sum%></td>
        </tr>
    <%end%>
</table>


<h2>Estatisticas por Departamento</h2>
<table class="table table-border table-hover">
    <tr>
        <th></th>
        <th>Turmas com Sala</th>
        <th>Turmas sem Sala</th>
            <th> MC+CB </th>

    </tr>

    <%dp=@stats[0].departments_mean%>
    <%for j in 1..dp.size%>
        <tr>
        <th width=30%><%=@stats[0].departments_mean[j].name  %></th>
        <td><%=@stats[0].departments_mean[j].qtde  %></td>
        <td><%=@stats[0].departments_mean[j].not  %></td>
        <%for i in 0..@stats.size-1%>
            <td>
                <%=@stats[i].departments_mean[j].dist_mean%><br>
                <%=@stats[i].departments_mean[j].free_mean%><br>
            </td>
        <%end%>
        </tr>
    <%end%>
<table>
