<%= render partial: 'shared/management/title', locals:{title:"Gerar Ensalamento"}%>

<table class="table">
    <tr><th>Tipo de Salas</th><th>Quantidade de Horarios</th><th>Horarios sem Salas</th>
        <th></th></tr>
    <%@lines.each do |line|%>
        <tr>
            <td><%=line[1]["name"]%></td>
            <td><%=line[1]["qtde"]%></td>
            <td><%=link_to line[1]["no_room"],management_ensalador_noroom_path%></td>
            <td><%=link_to "Horarios fora do Padrão",management_wrong_schedules_path%> </td>
        </tr>
    <%end%>
</table><hr>

<div id="resultado"></div>



<div align="center">
    <form action=<%=management_ensalador_exec_path%> method="get">
        <b>Distancia</b><%= number_field("val", "dist", in: 1.0..20.0, step: 0.5, value:10.0) %>
        <%= number_field("val", "free", in: 1.0..20.0, step: 0.5, value:10.0) %><b>Lugares Livres</b><br>
        <input type="submit" class="btn btn-primary btn-lg" value="Executar">
    </form>
</div>
