<%= render partial: 'shared/management/title', locals:{title:"Turmas do Ensalamento gerado"}%>


<table class="table table-hover">
<%@roomscheds.each do |rs|%>
    <tr>
        <td><%=rs.hour%></td>
        <td><%=rs.subject_code%></td>
        <td><%=rs.klass_code%></td>
        <td><%=rs.room%></td>
        <td><%=rs.distance%></td>
        <td><%=rs.free%></td>
    </tr>
<%end%>
</table>
