<% if !local_assigns.has_key? :with_page; with_page = false; end%>
<% if !local_assigns.has_key? :with_search; with_search = false; end%>
<% if !local_assigns.has_key? :role; role = "public"; end%>

<div class="row">
  <div class="col-md-6">
    <%if with_page%>
      <%= paginate pkg %>
    <%end%>
  </div>

  <div class="col-md-6">
  <%if with_search%><br>
    <%= render partial: 'shared/professors/search_button', locals:{pkg:@subjects,with_page:true}%>
  <%end%><br>
  </div>
</div>



<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Departamento</th>
      <th>Email</th>
      <th>Página</th>
    </tr>
  </thead>

  <tbody>
    <% pkg.each do |professor| %>
      <tr>
        <td><%= link_to professor.name, "/#{role}/#{professor.rid}" %></td>
        <td><%= (professor.department.present?) ? link_to(professor.department.name,[:public,professor.department]) : "none"  %></td>
        <td><%= (professor.email.present?) ? professor.email.gsub("@"," AT ").gsub("."," DOT ") : ""%> </td>
        <td><%= (professor.web.present?) ? link_to(professor.web,professor.web) : ""%> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%if with_page%>
  <%= paginate pkg %>
<%end%>
