<% if !local_assigns.has_key? :with_page; with_page = true; end%>
<% if !local_assigns.has_key? :with_search; with_search = false; end%>

<div class="row">
  <div class="col-md-6">
    <%if with_page%>
      <%= paginate pkg %>
    <%end%>
  </div>

  <div class="col-md-6">
  <%if with_search%><br>
    <%= render partial: 'shared/professors/search_button', locals:{pkg:@subjects,with_page:true}%>
  <%end%><br>
  </div>
</div>


<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Departamento</th>
      <th>Email</th>
      <th>Página</th>
    </tr>
  </thead>

  <tbody>
    <% pkg.each do |professor| %>
      <tr>
        <td><%= link_to professor.name, [role, professor] %></td>
        <%if role != "secdep"%>
          <td><%= (professor.department.present?) ? link_to(professor.department.name,[role,professor.department]) : "none"  %></td>
        <%end%>
        <td><%= (professor.email.present?) ? professor.email : ""%> </td>
        <td><%= (professor.web.present?) ? link_to(professor.web,professor.web) : ""%> </td>
        <td><%=edit_buttons(role,professor)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%if with_page%>
  <%= paginate pkg %>
<%end%>
