<%edges_str = (edges.present?) : "dt-edges='#{edges}'" : "" %>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Departamento</th>
      <th>Email</th>
      <th>Página</th>
    </tr>
  </thead>
  <tbody class="stream" dt-cmd="list" dt-root='<%=root%>' <%=edges_str%> >
    <td><a href='/public/{{gid}}'>{{name}}</a></td>
    <td>{{#department}}
aaa      <a href='/public/{{gid}}'>{{id}}</a>
    {{/department}}</td>
    <td>{{email}}</td>
    <td>{{page}}</td>
    <td> <button class="command" dt-gid="{{gid}}">Editar</button> </td>
  </tbody>
</table>
<button class="prever" dt-stream="professors">Anterior</button>
<button class="nexter" dt-stream="professors">Proximo</button>
