<%= render partial: 'shared/management/title', locals:{title:"Logs", span:Log.all.size}%>

<%= paginate @logs %>
<br>

<%@logs.each do |log|%>
  <%=log.time%> |
  <%=log.user.email%> <%=log.html.html_safe%><br>
<%end%>

<br>
<%= paginate @logs %>
