<%= render partial: 'shared/management/title', locals:{title:"Iniciar um Novo Semestre"}%>

<h2>
    1. Resetar Status dos Departamentos
    <%=link_to "Resetar",committee_reset_departments_path,class:"btn btn-primary"%>
    <%=link_to "Apagar Tudo","/committee/apagatudo",class:"btn btn-danger", data: { confirm: 'Are you sure?' }%>
</h2>


<h2> 2. Upload dos Dados do Semestre </h2>

  <div class="row">
    <div class="panel indent">
      <div class="panel-body identation">
            <%= form_tag("/committee/upload", method: :put, :multipart => true) do %>

               <%= label_tag :Periodo %><br>
               <%= collection_select(:season, :season_id, Season.all, :id, :code) %><br><br>

               <%= label_tag :file %>
               <%= file_field_tag :file %> </br>
               <%= submit_tag "Enviar", class: 'btn btn-primary btn-lg button border-radius1' %>
            <% end %>
      </div>
    </div>
  </div>


  <h3 class="indent">2.1 Progresso</h3>
  <div class="progress indent">
    <div class="progress-bar" id="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 3%;">
      0
    </div>
  </div><hr>

  <h3 class="indent">2.2 Log</h3>
  <div class="indent" id="log"></div><hr>

  <h3>
    3.
    <a href="/committee/join_all" class="btn btn-danger"> Junta Turmas com o mesmo Codigo </a>
  </h3><hr>


  <h3>
    4. Atualizar Turmas
  </h3>

  <div class="panel indent">
    <%= form_tag("/committee/update_klasses", method: :put, :multipart => true) do %>
       <%= label_tag :file %>
       <%= file_field_tag :file %> </br>
       <%= submit_tag "Enviar", class: 'btn btn-primary btn-lg button border-radius1' %>
    <% end %>
  </div>

<style>
  .indent {
    margin-left: 3%;
  }
</style>

<script>

  function get_server_info(){
      var xmlhttp = new XMLHttpRequest();
      var url = "/committee/status.json";
      xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
              var info = JSON.parse(xmlhttp.responseText);
              progress = document.getElementById("progress");
              progress.innerHTML = info.done+"/"+info.total;
              porcent = (info.done/info.total) * 100.0;
              progress.setAttribute("aria-valuenow", info.done);
              progress.setAttribute("aria-valuemax", info.total);
              progress.setAttribute("style", "width: "+porcent+"%");

              log = document.getElementById("log");
              console.log(info.log.length);
              log.innerHTML = info.log;
          }
      };
      xmlhttp.open("GET", url, true);
      xmlhttp.send();
  }
  var t=setInterval(get_server_info,2500);

</script>
