

<%=link_to "Ensalar","#{request.fullpath}&st=1",class:"btn btn-primary"%>

<%=@schedules.size%><br>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Turma</th>
      <th>Horas</th>
      <th>Tamanho</th>
      <th>Horario</th>
      <th>Sugestão</th>
      <th>Alocado</th>
      <th>Bloco</th>
      <th>Tipo de Sala</th>
    </tr>
  </thead>

  <tbody>
    <%@schedules.each do |sched|%>
      <tr>
        <td><%=sched.klass.name%></td>
        <td><%=sched.end_norm-sched.ini_norm%>
        <td><%=sched.klass.vacancy%></td>
        <td>
          <%=sched.to_s%>
        </td>
        <td><%=(sched.suggested.present?) ? "#{sched.suggested.code}(#{sched.suggested.size})" : "" %></td>
        <td><%=(sched.room.present?) ? "#{sched.room.code}(#{sched.room.size})" : "" %></td>
        <td><%=sched.klass.subject.department.block.code%></td>
        <td><%=sched.klass.subject.room_type_id%></td>
      </tr>
    <%end%>

</tbody>
</table>
