<%= render partial: 'shared/management/title', locals:{
      title:"Autorizar Reservas", span:@appointments.size
}%>

<script>

  // Load when page is ready
  $(document).ready(function() {
    // Select show call
    var query_value = getQueryStringValue("room_id");
    console.log("query", query_value);
    if ( query_value ) {
      showDropdown(query_value);
    }
    else {
      showDropdown("");
    }

    $("select#room_id").change(function() {
        showDropdown($(this).val());
    });
  });

</script>



<div class="container">
  <form method="get">
  <div class="row">
    <div class="panel panel-default" style="background-color: #DDDDDD">
      <div class="panel-body">
        <div class="col-sm-12">
          <label class="control-label">Auditório / Laboratório / Sala :</label>
        </div>

        <div class="col-sm-6 marginB10px">
          <select name="room_id" id="room_id" class="form-control"></select>
        </div>

        <div class="col-sm-3 marginB10px">
          <input type="submit" class="btn btn-primary button" value="Buscar">
        </div>
      </div>
    </div>
  </div>
  </form>
</div>


<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Sala</th>
      <th>Dia</th>
      <!-- <th>Week</th> -->
      <th>Início</th>
      <th>Fim</th>
      <th>Requerente</th>
      <th>Título</th>
      <th>Motivo</th>
      <th>Aceito?</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>

    <% @appointments.each do |appointment| %>
      
        <tr>
          <td><%= (Room.find(appointment.room_id)).code %></td>
          <td><%= appointment.day %></td>     
          <td>
            <% temp = (appointment.start_at.to_s).split(" ") %>
            <% hue = temp[1] %>
            <%= hue %>
          </td>
          <td>
            <% temp = (appointment.end_at.to_s).split(" ") %>
            <% hue = temp[1] %>
            <%= hue %>
          </td>
          <td><%= appointment.requester %></td>
          <td><%= appointment.title %></td>
          <td><%= appointment.comment %></td>
          <td><% if appointment.was_accepted == false %>Não
              <% else %>Sim
              <% end %>
          </td>
          <td>
            <% if appointment.was_accepted == false %>
              <%= link_to "<i class=\"fa fa-check\"></i>".html_safe, edit_secsector_appointment_path(appointment, { :to => true }), class:"btn btn-default" %>
            <% else %>
              <%= link_to "<i class=\"fa fa-check\"></i>".html_safe, edit_secsector_appointment_path(appointment, { :to => false }), class:"btn btn-default active" %>
            <% end %>
            <%= link_to "<i class=\"fa fa-remove\"></i>".html_safe, ["secsector", appointment], method: :delete, data: { confirm:"Quer excluir realmente?" }, :class => "btn btn-danger" %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- < %= paginate @appointments %> -->

<br>

<%= link_to 'Nova Reserva', new_public_appointment_path, :class => "btn btn-primary" %>

<%= link_to 'Calendário', public_appointments_path, :class => "btn btn-primary" %>
