<%= form_for([:committee, @sector]) do |f| %>
  <% if @sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% @sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :code, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div><hr>
  <div class="actions">
    <%= f.submit "Salvar", class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
