<%= render partial: 'shared/management/title', locals:{
  title:"Setores",span:Sector.all.size,
  new_path: new_committee_sector_path
}%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Professores</th>
	  <th>Editar</th>
    </tr>
  </thead>

  <tbody>
    <% @sectors.each_with_index do |sector,idx| %>
      <tr>
        <td><%= link_to(sector.name, [:committee, sector]) %> </td>
		<td><%=@professors[idx]%></td>
        <td><%=edit_buttons(:committee,sector)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sectors %>
