<%= render partial: 'shared/management/title', locals:{
  title:@sector.name,
  edit_path: [:edit,:committee,@sector]
}%>


<h1>Departamentos</h1>
<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th style="width: 75%" >Nome</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sector.departments.each do |department| %>
      <tr>
        <td><%= link_to(department.name, [:committee, department]) %> </td>
        <td><%= link_to 'Editar', [:edit,:committee,department], :class => "btn btn-primary"  %></td>
        <td><%= link_to 'Excluir', [:committee, department], method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Setor?' } , :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h1>Blocos</h1>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th style="width: 75%">Código </th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sector.blocks.each do |block| %>
      <tr>
        <td ><%= link_to(block.code, [:committee, block]) %> </td>
        <td ><%= link_to 'Editar', [:edit,:committee,block], :class => "btn btn-primary"  %></td>
        <td ><%= link_to 'Excluir', [:committee, block], method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Setor?' } , :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
