
<div class="row">
<%= form_for([:management, sched]) do |f| %>
    <div class="col-md-1"><%= f.number_field :weekday, class:"form-control", min:2, max:7 %></div>
    <div class="col-md-2"><%= f.text_field   :ini, class:"form-control" %></div>
    <div class="col-md-2"><%= f.text_field   :end, class:"form-control" %></div>
    <div class="col-md-4"><%= f.collection_select :room_id, sched.free_rooms, :id, :select_view, {include_blank: 'Nenhuma Sala'}, {class:"form-control"}%></div>
    <div class="col-md-3"><%= f.submit "Atualizar Horário", class:"btn btn-primary" %></div>
<% end %>
</div>
