<%= form_for([:management, @klass], class:"form-inline") do |f| %>
  <% if @klass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@klass.errors.count, "error") %> prohibited this klass from being saved:</h2>

      <ul>
      <% @klass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :disciplina %><br>
    <%= f.collection_select :subject_id, Subject.all.order(:name), :id, :name, {include_blank: 'Selecione a Disciplina'}, {class:"form-control checkChange", id: "disciplinaSelect"} %>
  </div>

  <div class="form-group">
    <%= f.label :curso   %><br>
    <%= f.collection_select :course_id, Course.all.order(:name), :id, :name, {include_blank: 'Selecione o Curso'}, {class:"form-control checkChange", id: "cursoSelect"} %>
  </div>

  <div class="form-group">
    <%= f.label :código %>
    <%= f.text_field :code, {class:"form-control checkChange", id:"codigoSelect" } %>
  </div>

  <div class="form-group">
    <%= f.label :vagas %><br>
    <%= f.number_field :vacancy, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.check_box :requireroom, :onchange => 'horario()'  %>
    <%= f.label :Precisa_de_Sala %>
  </div>

  <div class="actions" align="center">
    <%= f.submit "Salvar", class:"btn btn-primary" %>
  </div><hr>
<% end %>


<script>
  function horario() {

  }


  $(".checkChange").on("change", function() {
    //console.log("cursoSelect");
    var disciplinaSelect = $('#disciplinaSelect').val();
    var cursoSelect = $('#cursoSelect').val();
    var codigoSelect = $('#codigoSelect').val();

    console.log( 'disciplina: ', disciplinaSelect );
    console.log( 'curso: ', cursoSelect );
    console.log( 'codigo: ', codigoSelect );



  });

</script>
