<%= render partial: 'shared/management/title', locals:{title:"Alteração de Turma"}%>

  <%= render 'form' %>
<h1> Horarios </h1>


<%@klass.schedules.order("weekday").each do |sched_temp|%>

  <% sched = sched_temp %>
  <% temp = (sched.to_s).split(%r{-\s*}) %>
  <% #temp = temp.map {|x| x[/\d+/]} %>
  <% #temp %>
  <% sched.weekday = temp[0].to_i %>
  <% temp = (sched.to_s).split("-") %>
  <% sched.ini = temp[1] %>
  <% temp = (sched.to_s).split(%r{-\s*}) %>
  <% sched.end = temp[2] %>

  <%= render :partial => "formsched", :locals => { sched: sched } %>
<%end%>

<br><br><center><a href=".." class="btn btn-info btn-lg">Voltar</a></center>
