<%= render partial: 'shared/management/title', locals:{title:"Turmas"}%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th width="30%">Disciplina</th>
      <th>Turma</th>
      <th>Vagas</th>
      <th>Curso</th>
      <th>Horarios</th>
      <th>Sala</th>

    </tr>
  </thead>

  <tbody>
    <% @klasses.each do |klass| %>

      <tr>
        <%if klass.subject.blank? %>
            <td> None </td>
            <td> None </td>
        <%else%>
            <td><%= link_to(klass.subject.code, management_subject_path(klass.subject)) %></td>
            <td><%= klass.subject.name %></td>
        <%end%>
        <td><%= klass.code %></td>
        <td><%= klass.vacancy %></td>

        <td><%= (klass.course.blank?) ? "None" : klass.course.name %></td>

        <td>
            <%klass.schedules.each do |sched|%>
                <%=sched.to_s%><br>
            <%end%>
         </td>
         <td>
             <%klass.schedules.each do |sched|%>
                <%= (sched.room.blank?) ? "-" : sched.room.code %><br>
            <%end%>
          </td>
        <td>
            <%= link_to 'Editar', edit_management_klass_path(klass), :class => "btn btn-primary btn-sm"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @klasses %>

<br>
<% if current_user.role?('admin') || current_user.role?('committee')%>
  <%= link_to 'Nova Turma', new_management_klass_path, :class => "btn btn-primary" %> |
  <%= link_to 'Apagar todas', "/management/klasses", method:"delete", data: { confirm: 'Are you sure?' },  :class => "btn btn-danger" %>
<%end%>
