<!-- New Klass
<div class="page-header">
  <h1>Nova Turma</h1>
</div>
-->
<%= render partial: 'shared/management/title', locals:{title:"Nova Turma"}%>

<%= render 'form' %>



<h1> Horarios </h1>
<%@klass.schedules.order("weekday").each do |sched_temp|%>

  <% sched = sched_temp %>
  <% temp = (sched.to_s).split(%r{-\s*}) %>
  <% sched.weekday = temp[0].to_i %>
  <% temp = (sched.to_s).split("-") %>
  <% sched.ini = temp[1] %>
  <% temp = (sched.to_s).split(%r{-\s*}) %>
  <% sched.end = temp[2] %>

  <%= render :partial => "formsched", :locals => { sched: sched } %>
<%end%>



<div id = "render_partial_formsched">
  algo
</div>

<!-- < %= link_to 'Novo', new_management_klass_path, :class => "btn btn-primary", :remote => true, :data => '1' %> -->

<br>
<a id="render_partial_formsched_Button" class="btn btn-primary">Novo</a>
</br></br>
<br><br><center><a href="../klasses/" class="btn btn-info btn-lg">Voltar</a></center>
<!-- < %= link_to 'Voltar', management_klasses_path %> -->

<script>

$("#render_partial_formsched_Button").on("click", function() {
    console.log("entrou button");
    $('#render_partial_formsched').load('_formsched.html.erb');
});

</script>
