<%= render partial: 'shared/management/title', locals:{title:"Setores",span:Sector.all.size}%>

<%is_writable = (@cur_user.is_committee?) ? :committee : nil%>
<%= render partial: 'shared/sectors/showpkg', locals:{pkg:@sectors,profs:@professors,is_writable:is_writable}%>
