<%= render partial: 'shared/management/title', locals:{title:"Setor de #{@sector.name}"}%>

<h1>Departamentos</h1>
<%= render partial: 'shared/departments/showpkg', locals:{klasscount:@klasscount, pkg:@sector.departments.order("LOWER(name)"),is_writable:nil}%>

<h1>Blocos</h1>
<%= render partial: 'shared/blocks/showpkg', locals:{pkg:@sector.blocks.order("LOWER(code)"),is_writable:nil}%>
