<% if !local_assigns.has_key? :with_page; with_page = false; end%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Centro Geografico</th>
    </tr>
  </thead>

  <tbody>
    <% pkg.each do |course| %>
      <tr>
        <td><%= link_to course.code, [role, course] %></td>
        <td><%= course.name  %></td>
        <td><%= (course.block.present?) ? course.block.code : ""%> </td>
        <td><%=edit_buttons(role,course)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
