<% if !local_assigns.has_key? :with_page; with_page = false; end%>
<% if !local_assigns.has_key? :role; role = "public"; end%>


<%if with_page%>
  <%= paginate pkg %>
<%end%>
<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th width="7%">Código</th>
      <th>Nome</th>
    </tr>
  </thead>

  <tbody>
    <% pkg.each do |course| %>
      <tr>
        <td><%= course.code  %></td>
        <td><%= link_to course.name, [role, course] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%if with_page%>
  <%= paginate pkg %>
<%end%>
