<h1>Listing Appointments</h1>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Discipline</th>
      <th>Classes</th>
      <th>Week day</th>
      <th>Time initial</th>
      <th>Time final</th>
      <th>Status</th>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <!-- <td>< %= print_discipline(appointment) %></td> -->
        <td>
          <% appointment.klass.each do |klass| %>
            <%= link_to(klass.name, secdep_klass_path(klass)) + "\n" %>
          <% end %>
        </td>
        <td><%= appointment.week_day %></td>
        <td><%= appointment.time_initial %></td>
        <td><%= appointment.time_final %></td>
        <td><%= appointment.status %></td>
        <!-- <td>< %= (appointment.classroom.blank?) ? "None" : link_to(appointment.classroom.code, management_classroom_path(appointment.classroom)) %></td> -->
        <td><%= link_to 'Mostrar', [:public, appointment],:class => "btn btn-default" %></td>
        <td><%= link_to 'Editar', edit_public_appointment_path(appointment), :class => "btn btn-primary"  %></td>
        <td><%= link_to 'Excluir', [:public, appointment], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @appointments %>

<br>

<%= link_to 'Novo Apontamento', new_management_appointment_path, :class => "btn btn-primary" %>
