<p>
  <strong>Week day:</strong>
  <%= @appointment.week_day %>
</p>

<p>
  <strong>Time initial:</strong>
  <%= @appointment.time_initial %>
</p>

<p>
  <strong>Time final:</strong>
  <%= @appointment.time_final %>
</p>

<p>
  <strong>Status:</strong>
  <%= @appointment.status %>
</p>

<%= link_to 'Editar', edit_management_appointment_path(@appointment) %> |
<%= link_to 'Voltar', management_appointments_path %>
