<%= render partial: 'shared/management/title', locals:{title:@task.name}%>
<p><%=@task.description%></p>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nome</th>
      <th>Descrição</th>
    </tr>
  </thead>

  <tbody>
      <%@task.tasks.each do |task|%>
        <tr>
          <td><%=task.id%></td>
          <td><%=task.name%></td>
          <td><%=task.description%></td>
        </tr>
      <% end %>
  </tbody>
</table>
