

<form method="get">
  <div class="input-group">
    <input name="search" id="searchField" type="text" class="form-control" placeholder="Pesquisa por código ou nome da disciplina" >
    <select name="section_id" id="section_id" class="form-control" style="display:none"></select>
    <div class="input-group-btn">
      <input type="submit" class="btn btn-primary button" value="Buscar">
    </div>
  </div>
</form>
