<% if !local_assigns.has_key? :with_page; with_page = false; end%>
<% if !local_assigns.has_key? :with_search; with_search = false; end%>

<!--
Search box Public pages.
-->

<div class="row">
  <div class="col-md-6">
    <%if with_page%>
      <%= paginate pkg %>
    <%end%>
  </div>

  <div class="col-md-6">
  <%if with_search%><br>
    <%= render partial: 'shared/subjects/search_button', locals:{pkg:@subjects,with_page:true}%>
  <%end%><br>
  </div>
</div>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
    </tr>
  </thead>

  <tbody>
    <% pkg.each do |subject| %>
      <tr>
        <%if subject.is_equivalence %>
            <td><%subject.subjects.each do |son|%>
                <%= son.code %><br>
            <%end%></td>
            <td><a href="/public/subjects/<%=subject.id%>" >
                <%subject.subjects.each do |son|%>
                    <%= son.name %><br>
                <%end%>
            </a></td>
        <%else%>
            <td><%= subject.code %></td>
            <td><%= link_to subject.name, "/public/"+subject.rid %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%if with_page%>
  <%= paginate pkg %>
<%end%>
