<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nome</th>
      <th>Setor</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>

  <tbody>
    <% pkg.each do |block| %>
      <tr>
        <td><%=block.code%></td>
        <td><%=link_to block.name, "/public/"+block.rid%></td>
        <td><% if block.sector.blank?%><%else%><%= "Setor de " + block.sector.name%><%end%></td>
        <td> <%=block.latitude%> </td>
        <td> <%=block.longitude%> </td>
      </tr>
    <% end %>
  </tbody>
</table>
