<% if !local_assigns.has_key? :with_page; with_page = false; end%>

<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nome</th>
      <th>Setor</th>
      <th>Departamentos</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>

  <tbody>
    <% pkg.each do |block| %>
      <tr>
        <td><%=block.code%></td>
        <td><%=link_to block.name, [role, block]%></td>
        <td><% if block.sector.blank?%><%else%><%= "Setor de " + block.sector.name%><%end%></td>
        <td>
            <%block.departments.each do |department|%>
              <%=department.name%><br>
            <%end%>
        </td>
        <td> <%=block.latitude%> </td>
        <td> <%=block.longitude%> </td>
        <td><%=edit_buttons(role,block)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
