<h2> Distancias entre Blocos em Metros </h2>
<table class="table table-bordered">
    <tr>
        <td></td>
        <%@blocks.each do |block| %>
            <td><%=block.code%></td>
        <%end%>
    <tr>

    <%id=0%>
    <%@distances.each do |line| %>
        <tr>
            <td><%=@blocks[id].code%><%id+=1%></td>
            <%line.each do |item| %>
                <td><%=item%></td>
            <%end%>
        <tr>
    <%end%>
</table>
