<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Nome</th>
    </tr>
  </thead>

  <tbody>
    <% pkg.each do |sector| %>
      <tr>
        <td><%= link_to(sector.name, [:public, sector]) %> </td>
        <td><%=edit_buttons(role,sector)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
