<table class="table table-bordered table-hover table-border">
  <thead>
    <tr>
      <th>Nome</th>
	  <th>Professores</th>
    </tr>
  </thead>

  <tbody>
    <% pkg.each_with_index do |sector,idx| %>
      <tr>
        <td><%= link_to(sector.name, "/public/"+sector.rid) %> </td>
		<td><%=profs[idx]%></td>
      </tr>
    <% end %>
  </tbody>
</table>
