<%= render partial: 'shared/management/title', locals:{title:"#{@course.code} - #{@course.name}"}%>

<%= render partial: 'shared/subjects/showpkg', locals:{pkg:@course.subjects.order(:code),with_search:false}%>
