<%= form_for([:secdep, @klass], class:"form-inline") do |f| %>
  <% if @klass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@klass.errors.count, "error") %> prohibited this klass from being saved:</h2>

      <ul>
      <% @klass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :disciplina %><br>
    <%= f.collection_select :subject_id, current_user.department.subjects.order(:name), :id, :name, {include_blank: 'Selecione a Disciplina'}, {class:"form-control checkChange", id: "disciplinaSelect"} %>
  </div>

  <div class="form-group">
    <%= f.label :curso   %><br>
    <%= f.collection_select :course_id, Course.all.order(:name), :id, :name, {include_blank: 'Selecione o Curso'}, {class:"form-control checkChange", id: "cursoSelect"} %>
  </div>

  <div class="form-group">
    <%= f.label :código %>
    <%= f.text_field :code, {class:"form-control checkChange", id:"codigoSelect",placeholder:"Exemplo: a" }  %>
  </div>

  <div class="form-group">
    <%= f.label :periodo %><br>
    <%= f.collection_select :season_id, Season.all, :id, :code, {include_blank: 'Selecione o Periodo'}, {class:"form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :vagas %><br>
    <%= f.number_field :vacancy, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :professor %><br>
    <%= f.collection_select :professor_id, current_user.department.professors.order(:name), :id, :name, {include_blank: 'Selecione o Professor'}, {class:"form-control"} %>
  </div>

  <div class="actions" align="center">
    <%= f.submit "Salvar", class:"btn btn-lg btn-primary" %>
  </div><hr>
<% end %>
