<%= render partial: 'shared/management/title',
    locals:{title:"Turmas",new_path: new_secdep_klass_path }
%>

<%= render partial: 'shared/klasses/showpkg_editable', locals:{pkg:@klasses,role:"secdep"}%>
