<%= render partial: 'shared/management/title',
  locals:{
    title:"#{@klass.subject.name} - #{@klass.code}",
    edit_path: edit_secdep_klass_path
  }
%>



<dl class="row">
    <dt class="col-sm-2">Disciplina:</dt>
    <dd class="col-sm-10"><%= @klass.subject_name %></dd>

    <dt class="col-sm-2">Course:</dt>
    <dd class="col-sm-10"><%= @klass.course_name %></dd>

    <dt class="col-sm-2">Codigo:</dt>
    <dd class="col-sm-10"><%= @klass.code %></dd>


    <dt class="col-sm-2">Periodo:</dt>
    <dd class="col-sm-10"><%= @klass.season_name %></dd>

    <dt class="col-sm-2">Tamanho:</dt>
    <dd class="col-sm-10"><%= @klass.vacancy %></dd>

    <dt class="col-sm-2">Nome do Professor:</dt>
    <dd class="col-sm-10"><%= @klass.professor_name %></dd>

    <dt class="col-sm-2">Hash:</dt>
    <dd class="col-sm-10"><%= @klass.code_hash%></dd>

    <dt class="col-sm-2"></dt>
    <dd class="col-sm-10"><%=link_to "editar",edit_secdep_klass_path%></dd>
</dl>


<hr>
<h2>Horários</h2>

  <%@klass.schedules.order("weekday").each do |sched|%>
    <%= render :partial => "formsched", :locals => { sched: sched } %>
    <br>
  <%end%>

  <div align="center"><hr>
    <%= link_to "Novo", "/secdep/addschedule?klass_id=#{@klass.id}", class:"btn btn-primary btn-lg" %>
  </div>





<%if @klass.is_join? %>
  <hr>
  <h2>Sub-Turmas</h2>

  <table class="table table-bordered table-hover table-border">
    <thead>
      <tr>
        <th>Código</th>
        <th>Curso</th>
        <th>Tamanho</th>
        <th>Curso</th>
      </tr>
    </thead>

    <tbody>
      <% @klass.klasses.each do |klass| %>
        <tr>
          <%if klass.subject.blank? %>
              <td> None </td>
              <td> None </td>
          <%else%>
              <td><%= link_to(klass.name.gsub(";","<br>").html_safe, [:secdep, klass]) %></td>
              <td><%= link_to(klass.subject.name, [:secdep,klass.subject]) %></td>
          <%end%>
          <td><%= klass.vacancy %></td>

          <td>
            <%klass.courses.each do |course| %>
              <%=course%><br>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%end%>
