<%= form_for([:committee, @course]) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code, class:"form-control" %>
  </div>

  <div class="field">
      <%= f.label :centro_geografico %><br>
      <%= f.collection_select :block_id, Block.all, :id, :code, {include_blank: 'Departamento'}, {class:"form-control"} %>
  </div>


  <hr>
  <div class="actions" align="center">
    <%= f.submit "Salvar",class:"btn btn-primary btn-lg" %>
  </div>
<% end %>
