<%= render partial: 'shared/management/title', locals:{
  title:"Cursos",span:Course.all.size,
  new_path: [:new, :committee, :course]
}%>

<%= render partial: 'shared/courses/showpkg_editable', locals:{pkg:@courses, role:"committee"}%>
