<%= render partial: 'shared/management/title', locals:{
  title:"#{@course.code} - #{@course.name}",
  edit_path: [:edit, :committee, @course]
}%>

<%= render partial: 'shared/subjects/showpkg', locals:{pkg:@course.subjects}%>
